@import "main";

.form-group {
  margin-bottom: 5px;
  float: left;
}

.static {
  float: left;
  font-size: 18px;
  padding: 8px;
}

.checkbox, .radio {
  margin-bottom: 10px;
}

input, select, textarea {
  font-size: 18px;
  padding: 5px;
  width: 100%;

  &[type=radio], &[type=checkbox] {
    width: auto;
  }
}

.checkbox label {
  display: block;
  padding-left: 27px;

  input[type=checkbox] {
    margin-left: -22px;
  }
}

label.disabled {
  color: #aaaaaa;
}

button {
  padding: 10px;
  margin-bottom: 1em;
}

.participant .delete {
  font-size: 12px;
  margin-left: 3em;
}

.hidden {
  display: none;
}

#invoice-details {
  margin: 1em 0;
  border: 1px solid #ccc;
  padding: 15px;
}

@media print {
  .noprint {
    display: none !important;
  }

  input {
    border: none;
  }
}

.ticket {
  margin: 1em 0;
  border: 1px solid #ccc;
  padding: 15px;
  background: white;
  position: relative;
  overflow: hidden;

  &:after {
    content: ' ';
    display: table;
    clear: both;
  }

  .unpaid {
    background: red;
    display: inline-block;
    padding: 15px 60px;
    color: white;
    position: absolute;
    top: 290px;
    right: -70px;
    transform: rotate(-45deg);
    font-size: 18px;
  }

  .logo {
    width: 70px;
    height: 70px;
    float: left;
    padding-right: 10px;
  }

  .ticketNo {
    float: right;
  }

  .location {
    font-size: 90%;
  }

  @media (min-width: 740px) {
    .row:before, .row:after {
      clear: both;
    }
  }

  @media (max-width: 739px) {
    .col-4 {
      width: 50%;
    }

    .col-8 {
      width: 100%;
    }
  }

  @media (max-width: 480px) {
    .location {
      font-size: 12px;
    }

    input {
      font-size: 14px;
    }
  }
}

dl {
  margin: 0;

  dt {
    font-size: 1.3em;
    line-height: 2em;
  }

  dd {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s;
  }

  &:hover dd {
    height: auto;
    opacity: 1;
  }
}

#ticket-presale {
  background: #f9d400;
  padding: 28px;
}

.chg-pwd {
  max-width: 600px;
  margin: 0 auto 2em;
  background: white;
  border: 1px solid #ccc;
  padding: 20px;

  label {
    line-height: 2.4em;

    &:after {
      content: ' ';
      display: table;
      clear: both;
    }
  }

  input {
    @media (min-width: 480px) {
      width: 60%;
    }
    float: right;
  }
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border-left: 0.5px solid #555;
  border-top: 0.5px solid #555;

  th, td {
    vertical-align: top;
    font-size: 14px;
    padding: 5px;
    border: 0.5px solid #555555;
    border-top: none;
    border-left: none;
  }

  td.numeric {
    text-align: right;
  }
}

#invoices-list {
  button.setPayment {
    float: right;
    padding: 0;
    cursor: pointer;
    width: 14px;
    height: 17px;
  }

  tr.open {
    background: #ff8888;

    a {
      color: white;
    }
  }

  tr.paid {
    background: #88ff88;

    button.setPayment:before {
      content: '✔';
      display: inline;
    }
  }

  .participant {
    line-height: 20px;

    input {
      float: right;
    }
  }
}

#main.maximize {
  padding: 0;

  .container {
    margin: 0 auto;

    #logo {
      height: 60px;
      left: 35px;
    }

    h1 {
      text-align: center;
    }

    .row {
      text-align: center;
    }

    video {
      max-width: 100%;
      width: 320px;
      height: 240px;

      @media (min-width: 640px) {
        float: left;
      }
    }

    #characteristics {
      height: 240px;
      width: 320px;
      text-align: center;
      padding: 10px;
      display: none;

      &.ok {
        background: green;
      }

      &.warning {
        background: #cccc00;
      }

      &.error {
        background: red;
      }

      img {
        max-width: 80%;
        max-height: 80%;
        float: none;
      }

      div {
        font-size: 20px;
        padding: 10px;
        color: white;
        line-height: 0.6;
      }

      .button.small {
        margin-right: 0;
      }
    }
  }
}

#application-description {
  height: 4em;
}

#login-form {
  text-align: center;

  label {
    width: 320px;
    margin: 0 auto;
    display: block;
    text-align: left;
  }
}
