@import "partials/general";
@import "partials/typography";
@import "partials/colors";

.yellow {color: $yellow;}
.turquoise {color: $turqoise;}
.red {color: $magenta;}
.smoke {color: $grey;}
.tuatara {color: $black;}

.tile {
  width: 480px;
  height: 250px;
  margin: 2em auto;
  padding: 2em 1em 1em 12em;
  box-sizing: border-box;
  box-shadow: 0 0 7px #eee;

  &.yellow {background-color: $yellow;}
  &.turquoise {background-color: $turqoise;}
  &.red {background-color: $magenta;}
  &.smoke {background-color: $grey;}
  &.tuatara {background-color: $black;}

  span {
    font: 20px Affogato-Bold, serif;
  }

  div {
    margin-top: 2em;
  }

  .box {
    background-color: $turqoise;
    color: $black;
    border: 2px solid $black;
    padding: 5px;
    font-size: 16px;
  }
}

form {
  padding: 2em;

  label {
    display: block;
    margin-bottom: 0.5em;

    span {
      display: inline-block;
      width: 100px;
    }

    input {
      width: 320px;
      font-size: 16px;
    }

    select {
      font-size: 16px;
    }
  }

  button {
    font-size: 16px;
    padding: 5px 20px;
    cursor: pointer;
  }
}
