<meta name="description" content="Barcamp-Plus für digitale Innovation und agile Produktentwicklung in Frankfurt am Main"/>

<link rel="canonical" href="https://xcamp.co/" />
<link rel='shortlink' href='https://xcamp.co/' />

<meta property="og:locale" content="de_DE" />
<meta property="og:type" content="website" />
<meta property="og:title" content="2019 XCamp - Barcamp-Plus für digitale Innovation und agile Produktentwicklung - XCamp" />
<meta property="og:description" content="Barcamp-Plus für digitale Innovation und agile Produktentwicklung in Frankfurt am Main" />
<meta property="og:url" content="https://xcamp.co/" />
<meta property="og:site_name" content="XCamp " />
<meta property="og:image" content="https://xcamp.co/Netvis2-1200x528.jpg"/>

<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="Barcamp-Plus für digitale Innovation und agile Produktentwicklung in Frankfurt am Main" />
<meta name="twitter:title" content="2019 XCamp - Barcamp-Plus für digitale Innovation und agile Produktentwicklung - XCamp" />
<meta name="twitter:image" content="https://xcamp.co/Netvis2-1200x528.jpg" />

<link rel="alternate" type="application/rss+xml" title="XCamp  &raquo; Feed" href="https://xcamp.co/feed/" />
<link rel="alternate" type="application/rss+xml" title="XCamp  &raquo; Kommentar-Feed" href="https://xcamp.co/comments/feed/" />

<script type="application/ld+json">{
    "@context": "https://schema.org",
    "@graph": [
        {
            "@type": "WebSite",
            "@id": "https://xcamp.co/#website",
            "url": "https://xcamp.co/",
            "name": "XCamp ",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://xcamp.co/?s={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        },
        {
            "@type": "ImageObject",
            "@id": "https://xcamp.co/#primaryimage",
            "url": "https://xcamp.co/Netvis2-1200x528.jpg",
            "width": 1693,
            "height": 745
        },
        {
            "@type": "WebPage",
            "@id": "https://xcamp.co/#webpage",
            "url": "https://xcamp.co/",
            "inLanguage": "de-DE",
            "name": "2019 XCamp - Barcamp-Plus f\u00fcr digitale Innovation und agile Produktentwicklung - XCamp",
            "isPartOf": {
                "@id": "https://xcamp.co/#website"
            },
            "primaryImageOfPage": {
                "@id": "https://xcamp.co/#primaryimage"
            },
            "datePublished": "2017-07-27T13:48:37+00:00",
            "dateModified": "2019-07-14T16:17:20+00:00",
            "description": "Barcamp-Plus f\u00fcr digitale Innovation und agile Produktentwicklung in Frankfurt am Main"
        }
    ]
}</script>

<link rel="alternate" type="application/json+oembed" href="{{baseUrl}}oembed.json" />
<link rel="alternate" type="text/xml+oembed" href="{{baseUrl}}oembed.xml" />
