<html lang="de">
<head>
    {{> head}}
    <link rel="stylesheet" href="dist/css/main.css">
    <style>
        #main #twitter-timeline {max-width: 640px;}
    </style>
</head>
<body data-code="{{accessCode}}">
{{> menu}}
{{> logo}}
<div id="main">
    <div class="container no-background" id="twitter-timeline">
        {{& html}}
    </div>
</div>
{{> footer}}

<script src="common.js"></script>
<script>
    setMenuState()
</script>
</body>
</html>
