#blog-list {
  list-style: none;
  padding: 0;

  li img {
    max-width: 30%;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;

    @media (max-width: 480px) {
      max-width: none;
      width: 100%;
    }
  }

  .continue {
    text-align: right;
    display: block;
    position: relative;
    top: -1em;
  }

  .meta {
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    padding: 3px 0;
    clear: both;
  }
}

.blog-list {
  .pager a {
    border: 1px solid $black;
    margin-right: 5px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 0.5em;
  }
}

.blog-entry {
  img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  img + em {
    text-align: center;
    display: block;
  }

  .pager {
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    padding: 3px 0;
  }

  .social-networks-wrapper {
    text-align: center;
  }

  .row {
    @media (min-width: 800px) {
      display: flex;
    }
  }

  #otherEntries {
    padding-left: 2em;

    h3 {
      margin-top: 1.5em;
    }

    li {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $black;

      &:last-of-type {
        border-bottom: none;
      }
    }
  }

  .author {
    border-top: 1px solid $black;
    padding-top: 1em;

    img {
      max-width: 200px;
    }
  }
}

.pager {
  text-align: right;

  a {
    padding: 4px 8px;
    color: $magenta;
    cursor: pointer;

    &.active {
      background-color: $black;
      color: white;
    }
  }
}

#main .slider {
  width: 100%;
  position: relative;
  height: 400px;
  overflow: hidden;

  img {
    position: absolute;
    max-height: 400px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  img:first-of-type {
    animation-name: fadeOut;
    animation-delay: 5s;
    animation-duration: 1s;
    z-index: 2;
  }

  img:nth-of-type(2) {
    animation-name: fadeIn;
    animation-delay: 5s;
    animation-duration: 1s;
    z-index: 1;
  }

  img:nth-of-type(n+2) {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from { opacity: 1.0; }
  to   { opacity: 0.0; }
}

@keyframes fadeIn {
  from { opacity: 0.0; }
  to   { opacity: 1.0; }
}
