#blog-list {
  list-style: none;
  padding: 0;

  li img {
    max-width: 30%;
    float: left;
    margin-right: 10px;
  }

  .continue {
    text-align: right;
    display: block;
    position: relative;
    top: -1em;
  }

  .meta {
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    padding: 3px 0;
  }
}

.blog-entry {
  img + em {
    text-align: center;
    display: block;
  }

  .pager {
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    padding: 3px 0;
  }

  .social-networks-wrapper {
    text-align: right;
  }
}

.pager {
  text-align: right;

  a {
    padding: 4px 8px;
    color: red;
    cursor: pointer;

    &.active {
      background-color: #3e3e3e;
      color: white;
    }
  }
}
