#blog-list {
  list-style: none;
  padding: 0;

  li img {
    max-width: 30%;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .continue {
    text-align: right;
    display: block;
    position: relative;
    top: -1em;
  }

  .meta {
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    padding: 3px 0;
    clear: both;
  }
}

.blog-list {
  .pager a {
    border: 1px solid $black;
    margin-right: 5px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 0.5em;
  }
}

.blog-entry {
  img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  img + em {
    text-align: center;
    display: block;
  }

  .pager {
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    padding: 3px 0;
  }

  .social-networks-wrapper {
    text-align: center;
  }

  .row {
    @media (min-width: 800px) {
      display: flex;
    }
  }

  #otherEntries {
    padding-left: 2em;

    h3 {
      margin-top: 1.5em;
    }

    li {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid $black;
    }
  }

  .author {
    border-top: 1px solid $black;
    padding-top: 1em;

    img {
      max-width: 200px;
    }
  }
}

.pager {
  text-align: right;

  a {
    padding: 4px 8px;
    color: $magenta;
    cursor: pointer;

    &.active {
      background-color: $black;
      color: white;
    }
  }
}
