#main {
  ul, ol {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;

    li {
      padding: 5px 10px;

      @media (min-width: 799px) {
        padding: 35px;
        width: 33.3333%;
      } 
    }

    li:first-child:nth-last-child(1) {
      width: 100%;
    }
  }

  ul {
    @media (min-width: 799px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    li {
      border-radius: 3px;
      opacity: 0.9;
      margin-bottom: 1rem;
      position: relative;

      @media (min-width: 799px) {
        width: calc(33.3333% - 10px);

        &:first-child:nth-last-child(2),
        &:first-child:nth-last-child(2) ~ li {
          width: calc(50% - 10px);
        }
        
        &:first-child:nth-last-child(3),
        &:first-child:nth-last-child(3) ~ li {
          width: calc(33.3333% - 10px);
        }
        
        &:first-child:nth-last-child(4),
        &:first-child:nth-last-child(4) ~ li {
          width: calc(25% - 10px);
        }
      }

      &.has-bottom-buttons {
        padding-bottom: 5em;
      }

      h3 {
        margin: 0 0 1.3em 0;
      }

      img {
        max-width: 200px;
      }

      a:not(.button) {
        color: white;
      }
    }
  }

  ol {
    @media (min-width: 799px) {      
      li {
        padding: 35px;
    
        &:first-child:nth-last-child(2),
        &:first-child:nth-last-child(2) ~ li {
          width: 50%;
        }
        
        &:first-child:nth-last-child(3),
        &:first-child:nth-last-child(3) ~ li {
          width: 33.3333%;
        }
        
        &:first-child:nth-last-child(4),
        &:first-child:nth-last-child(4) ~ li {
          width: 25%;
        }
      }
    }
  }
}

.three-boxes,
.four-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & > div {
    margin-bottom: 1rem;
    border-radius: 3px;
  }
}

.checkmark:before {
  content: ' ';
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
  background: url(../../assets/img/check.svg);
  background-size: contain;
}

@media (min-width: 950px) {
  .three-boxes > div {
    width: calc(33% - 10px);

    &.two-cols {
      width: calc(66% - 10px);
    }
  }
  .four-boxes > div {
    width: calc(25% - 10px);
    margin-bottom: 1rem;
  }

  .only-mobile {
    display: none;
  }
}

.align-bottom {
  margin-bottom: 0; // reset
  position: absolute;
  bottom: 1em;
  left: 1em;
  right: 1em;
}

.bottom-buttons .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#mainpage {
  .container {
    max-width: 1100px;
    padding: 1em 10px;

    @media (min-width: 740px) {
      padding: 3.5vw 3em 1em;
    }

    @media (min-width: 950px) {
      padding: 3vw 3em 1em;
    }

    @media (min-width: 1100px) {
      padding-top: 8vw;
    }
  }
}

.frame {
  display: inline-block;
  border: 10px solid white;
  overflow: hidden;

  a {
    img {
      transition: transform .8s;
    }

    &:hover img {
      transform: scale(1.1);
    }
  }
}

#main:not(.no-background) h1 {
  color: white;
  font-size: 1.75rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);

  & + p {
    color: white;
    font-size: 18px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);

    @media (min-width: 740px) {
      max-width: 75%;
      font-size: 1.25rem;
    }
    @media (min-width: 950px) {
      max-width: 60%;
      font-size: 1.5rem;
    }
  }
}

#mainpage {
  blockquote {
    background: white;
    margin: 0;
    padding: 1px 35px;

    ul {
      display: block;
      padding: 0 0 0 35px;
      list-style: initial;

      li {
        padding: 0;
        margin: 0;
      }
    }
  }
}

#dasformatdesxcamp + ol {
  background: white;
}

#cta .box {
  padding: 0;
}

#register-newsletter {
  .box {
    padding: 0;
  }
}

#newest-blog-entries {
  background: transparent;
  padding: 0;

  li {
    background: white;
    padding-bottom: 10px;
    box-shadow: 5px 5px 5px lightgrey;
    border-radius: 3px;

    .box {
      padding: 0;
    }

    .img {
      width: 100%;
      height: 240px;
      background-size: cover;
      background-position: center;
    }
  }
}

#impressionenvomxcamp + ol {
  padding: 10px 5px;

  li {
    padding: 5px 10px;
  }
}

#eindrckevomxcamp {
  & + iframe {
    display: block;
    width: 640px;
    height: 360px;
    max-width: 100%;
    margin: 0 auto;
  }

  & + ul li {
    padding: 0;
    position: relative;

    img {
      max-width: 100%;
    }
  }
}

.sold-out {
  overflow: hidden;

  &:after {
    content: 'Ausverkauft';
    color: white;
    background-color: red;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: normal;
    transform: rotate(-45deg);
    position: absolute;
    padding: 9px 50px;
    bottom: 40px;
    right: -50px;
  }
}

#location {
  margin-top: 1em;
}

#main #social-wall {
  max-width: 800px;
}
