a, button {
  text-decoration: none;
  transition: color .2s linear;
}

.button {
  display: inline-block;
  font-family: "Affogato-Bold", sans-serif;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: .125rem;
  text-transform: uppercase;
  text-align: center;
  margin: 2em 0;
  padding: 1rem 1.5rem;
  background: #dddddd;
  color: $black;
  cursor: pointer;
  text-shadow: none;
  border-radius: 4px;
  border: 2px solid rgba(0,0,0,.15);

  &:hover {
    background: $grey;
  }

  &[disabled] {
    opacity: 0.3;
    cursor: auto;
  }

  &.small {
    display: inline-block;
    font-size: 14px;
    width: auto;
    margin: 10px 2em 5px 0;

    &.saveTicket {
      display: none;
    }
  }

  &.big {
    font-size: 1.25rem !important;
  }

  &.wide {
    width: 250px;
  }
}

.button--light {
  background: white;
  border: none;
  border-radius: 5px;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25;

  strong {
    font-size: 1.2rem;
  }
}

.yellow {
  background: $yellow;
  opacity: .9;
  & .button--light {
    color: #ff8800;
    border: 2px solid #f9be00;
    &:hover {
      border-color: #f9be00;
      box-shadow: 0 0 10px #f9be00;
      background: white;
    }
  }
}

.magenta {
  background: $magenta;
  opacity: .9;
  & .button--light {
    color: $magenta;
    border: 2px solid darken($magenta,5%);
    &:hover {
      border-color: darken($magenta,15%);
      box-shadow: 0 0 10px darken($magenta,15%);
      background: white;
      color: darken(saturate($magenta,20%),10%);
    }
  }
}

.turquoise {
  background: $turquoise;
  opacity: .9;
  & .button--light {
    color: $turquoise;
    border: 2px solid darken($turquoise,5%);
    &:hover {
      border-color: darken($turquoise,15%);
      box-shadow: 0 0 10px darken(saturate($turquoise,15%),15%);
      background: white;
      color: darken(saturate($turquoise,20%),10%);
    }
  }
}
