$turquoise:  #4ED9D5;
$magenta:   #ff696c;
$yellow:    #f9d400;
$black:     #343434;
$grey:      #efefef;

.yellow {
  background: $yellow;
}

.turquoise {
  background: $turquoise;
}

.magenta {
  background: $magenta;
}

.white {
  background: white;
}

.grey {
  background: $grey;
}
