html, body {
  margin: 0;
  padding: 0;
  font: 15px Martel, sans-serif;
}

* {
  box-sizing: border-box;
}

.semi-transparent {
    background-color: rgba(250,250,250,0.7);
  }

.box {
  position: relative;
    padding: 20px 25px;

  @media (min-width: 799px) {
    padding: 35px;
  }

  // Reset margin top on first h3
  h3:first-child {
    margin-top: 0;
  }

  // Reset margin bottom on last p
  p:last-child {
    margin-bottom: 0;
  }
}

#logo {
  position: absolute;
  left: 30px;
  top: 31px;
  height: 90px;
}

#main #hero {
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0,.8);
}

#main {
  padding: 0 15px 20px;
  background: #f5f5f5 url("../../assets/img/hero-x_web_xcamp_320.jpg") no-repeat left top;
  background-size: 125%;
  min-height: calc(100% - 153px - 185px);

  /* Small Screens Retina */
  @media (min-resolution: 150dpi) {
    background-image: url("../../assets/img/hero-x_web_xcamp_822.jpg");
  }

  /* Medium Screens */
  @media (min-width: 420px) {
    padding: 0 30px 0;
    background-image: url("../../assets/img/hero-x_web_xcamp_822.jpg");
  }

  /* Medium Screens Retina */
  @media (min-width: 822px) {
    background-image: url("../../assets/img/hero-x_web_xcamp_1156.jpg");
    background-size: 130%;
  }

  /* Large Screens Retina */
  @media (min-width: 950px) {
    padding-top: 100px;
    background-image: url("../../assets/img/hero-1900.svg")
  }

  &.no-background {
    background: none;

    .container {
      padding-top: 0;
    }
  }

  .container {

    .container > div {
      margin-bottom: 2em;
    }

    max-width: 1100px;
    padding: 1em 10px;

    @media (min-width: 740px) {
      padding: 3.5vw 3em 1em;
    }

    @media (min-width: 950px) {
      padding: 3vw 3em 1em;
    }

    @media (min-width: 1100px) {
      padding-top: 8vw;
    }

    &.no-background {
      border: none;
      box-shadow: none;
      color: $black;
      max-width: 1170px;
      padding: 1em 0 0 0;

      h1 {
        color: white;
        margin-top: 8vw; // increase top margin according to window width.
      }
    }
  }

  img {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.title-inner {
  font-size: 18px;

  @media (min-width: 740px) {
    max-width: 75%;
    font-size: 1.25rem; // 20px
  }

  @media (min-width: 950px) {
    max-width: 60%;
    font-size: 1.5rem; // 20px
  }
}
