.team-member {
  h2 {
    font-size: 24px;
  }

  .articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    grid-gap: 1em;
    justify-content: space-between;
    align-content: flex-start;
  }

  .card {
    width: 320px;
    border: 1px solid #aaaaaa;

    h3 {
      line-height: normal;
    }

    h3, p {
      padding: 0 10px;
    }
  }
}

#team-page {
  > ul {
    padding: 0;

    @media (max-width: 499px) {
      margin: 0 -20px;
    }

    > li {
      list-style: none;
      padding: 10px;

      @media (min-width: 500px) {
        display: flex;
        flex-direction: row;
      }

      &:nth-of-type(2n - 1) {
        background: #f7f7f7;
        flex-direction: row-reverse;
      }

      &:before {
        content: ' ';
        display: table;
        clear: both;
      }

      img {
        max-width: 240px;
        margin: 0 10px 10px;

        @media (max-width: 499px) {
          margin-right: 100%;
        }
      }

      h2 {
        margin-top: 0;
      }

      > ul {
        padding: 10px;

        > li {
          list-style: none;
        }
      }
    }
  }
}
