$turqoise: #4ED9D5;
$magenta: #ff696c;
$yellow: #f9d400;
$black: #343434;
$grey: #efefef;

.yellow {
  background: $yellow;
}

.turquoise {
  background: $turqoise;
}

.magenta {
  background: $magenta;
}

.white {
  background: white;
}

.grey {
  background: $grey;
}

@font-face {
  font-family: 'Affogato-Bold';
  src: url('webfont/Affogato-Bold.eot');
  src: url('webfont/Affogato-Bold.eot?#iefix') format('embedded-opentype'),
  url('webfont/Affogato-Bold.woff') format('woff'),
  url('webfont/Affogato-Bold.woff2') format('woff2'),
  url('webfont/Affogato-Bold.ttf') format('truetype'),
  url('webfont/Affogato-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Martel:400,700&display=swap');
