@font-face {
  font-family: "icomoon";
  src: url('icomoon.eot');
  src: url('icomoon.eot?#iefix') format('embedded-opentype'),
       url('icomoon.woff') format('woff'),
       url('icomoon.ttf') format('truetype'),
       url('icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.main-menu {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  letter-spacing: 0;
  font-style: normal;
  z-index: 9999;
  background: linear-gradient(to bottom, $yellow 0%, $yellow 68%, $magenta 68%, $magenta 100%);
  height: 153px;

  @media only screen and (max-width: 1099px) {
    .alignright, .alignleft {
      text-align: center;
    }
  }

  @media only screen and (min-width: 1100px) {
    .alignright {
      float: right;
    }

    .alignleft {
      float: left;
    }
  }

  ul {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu {
    top: 0;
    right: 0;

    > li {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-right: 30px;
      border-top: 3px solid transparent;

      &:hover {
        border-color: $magenta;

        > a {
          color: $magenta;
        }
      }

      > a {
        display: flex;
        align-items: center;
        transition: 0.2s color linear;
        height: 90px;
        color: $black;
      }
    }
  }

  .sub-menu {
    top: 70px;
    right: -30px;
    background-color: $yellow;
    width: 180px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s ease-in;
    z-index: 9999;
    border-top: 3px solid $magenta;
    box-shadow: rgba(0,0,0,0.1) 6px 6px 6px;

    li {
      display: block;
      margin: 0;

      a {
        display: block;
        padding: 1.3em 1em;
        text-align: left;
        height: 57px;

        &:hover {
          background-color: #f9ea77;
        }
      }
    }
  }

  .menu li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
  }

  .toggle-menu {
    position: absolute;
    top: 1.3em;
    right: 2em;
    font-size: 24px;
    cursor: pointer;
  }

  .dropdown-menu .toggle-menu {
    top: 0;
  }

  @media screen and (max-width: 799px) {
    .menu {
      display: none;
      top: 140px;
    }

    .toggle-menu.opened {
      + .menu,
      + .sub-menu {
        display: block;
        font-size: 18px;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 999;
        background: #f5f5f5;
        border: none;

        > li {
          display: block;
          margin-right: 0;

          &:hover {
            background: #dddddd;
            color: $black;
          }

          > a {
            height: 50px;
            padding-left: 30px;
            color: #878787;

            &:hover {
              background: #dddddd;
            }
          }
        }
      }

      + .sub-menu {
        top: 0;
        position: static;
        visibility: visible;
        opacity: 1;

        a:before {
          content: ' - ';
        }
      }
    }
  }

  @media screen and (min-width: 800px) {
    .menu {
      font-size: 16px;
      font-weight: 700;
    }

    .toggle-menu {
      display: none !important;
    }
  }
}

.social-networks-wrapper {
  color: #545455;
  padding-left: 18px;

  .social-network-icon {
    display: inline-flex;
    align-items: center;
    height: 44px;
    margin: 0 10px;
    text-decoration: none;
    font-size: 16px;
    color: #545455;
    font-family: icomoon !important;
  }

  .icon-twitter:before {
    content: "\e605";
  }

  .icon-facebook:before {
    content: "\e604";
  }
}

body.logged-in .logged-out,
body.logged-out .logged-in {
  display: none !important;
}
