@font-face {
  font-family: "icomoon";
  src: url('icomoon.eot');
  src: url('icomoon.eot?#iefix') format('embedded-opentype'),
       url('icomoon.woff') format('woff'),
       url('icomoon.ttf') format('truetype'),
       url('icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.main-menu {
  background-color: rgb(245, 245, 245);;
  font-size: 14px;
  color: #343434;
  box-shadow: 0 0 5px rgba(128,128,128,0.5);

  @media only screen and (max-width: 1099px) {
    .alignright, .alignleft {
      text-align: center;
    }
  }

  @media only screen and (min-width: 1100px) {
    .alignright {
      float: right;
    }

    .alignleft {
      float: left;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      display: inline-block;
      vertical-align: middle;

      a {
        display: flex;
        align-items: center;
        padding: 0 13px;
        color: #343434;
        transition: 0.2s color linear;

        &:hover {
          color: #ff696c;
        }
      }
    }
  }

  .menu {
    position: absolute;
    top: 0;
    right: 30px;
    text-align: center;

    div div {
      background-color: #f7f7f7;
      border: 1px solid #ccc;
      display: inline-block;
      padding: 5px 10px;
      border-radius: 4px;
      cursor: pointer;

      &:active {
        background-color: #ddd;
      }
    }

    > li > a {
      height: 44px;
      font-family: "Open Sans", Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0;
      font-style: normal;
    }
  }

  .sub-menu {
    position: absolute;
    left: -20px;
    background-color: #f5f5f5;
    border: 1px solid #343434;
    width: 180px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s ease-in;

    li {
      display: block;

      a {
        display: block;
        padding: 7px 10px;
        text-align: left;

        &:hover {
          background-color: #d8d8d8;
        }
      }
    }
  }

  .menu li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
  }
}

.social-networks-wrapper {
  color: #545455;
  padding-left: 18px;

  .social-network-icon {
    display: inline-flex;
    align-items: center;
    height: 44px;
    margin: 0 10px;
    text-decoration: none;
    font-size: 16px;
    color: #545455;
    font-family: icomoon !important;
  }

  .icon-twitter:before {
    content: "\e605";
  }

  .icon-facebook:before {
    content: "\e604";
  }
}

#logout {
  display: none;
}
