@charset "UTF-8";
html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#ffffff, #f7f7f7);
  font: 1rem -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #222222;
  overflow: hidden; }

body {
  background: url("bg_hero_xcamp_v01-1.jpg");
  background-size: cover; }

button {
  -webkit-appearance: button;
  text-transform: none;
  cursor: pointer;
  font-size: 1.3rem; }

svg {
  opacity: 0.001;
  transition: opacity 1s 1s; }

body.initialized svg {
  opacity: 0.95; }

svg .links line {
  stroke: #aaa; }
svg .node {
  pointer-events: all;
  cursor: pointer;
  stroke: #666;
  stroke-width: 0.5px; }
  svg .node.open > circle, svg .node.open > rect {
    stroke: #ff696c;
    stroke-width: 2px; }
  svg .node .title {
    transition: 0.5s; }
    svg .node .title > text {
      transition: 0.5s 0.5s; }
      svg .node .title > text tspan {
        fill: #000;
        stroke-width: 0;
        font-weight: normal;
        text-anchor: middle;
        text-shadow: 0 0 5px #fff, 0 0 5px #fff; }
  svg .node .text-bg {
    fill: #fcffff;
    rx: 5px;
    ry: 5px; }
  svg .node .reflinks {
    opacity: 0.001;
    transition: opacity 0.3s;
    cursor: pointer; }
    svg .node .reflinks text {
      fill: #428bca; }
    svg .node .reflinks .text-bg {
      fill: #eeefef;
      stroke: #cccccc;
      rx: 0;
      ry: 0; }
    svg .node .reflinks g:hover .text-bg {
      fill: #cccccc; }
  svg .node:hover circle:first-of-type {
    stroke: #ff696c;
    stroke-width: 2px; }
  svg .node:hover .reflinks {
    opacity: 1; }
  svg .node.withBg .title {
    transform: translate(0, 40px); }
    svg .node.withBg .title tspan {
      text-shadow: none; }
  svg .node.withBg:hover .title {
    transform: translateY(5em) scale(1.5); }
  svg .node rect {
    stroke: none; }
  svg .node > rect:first-child + text tspan {
    font-weight: bold;
    fill: #666; }
  svg .node .cta {
    x: 35px;
    y: -35px; }
    svg .node .cta circle {
      r: 12px;
      fill: #4ed9d5; }
    svg .node .cta text {
      transform: translate(0, 5px);
      fill: black;
      stroke: transparent;
      text-anchor: middle; }

.command {
  display: none; }
  .command.active {
    display: block; }

.details {
  visibility: hidden;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%; }
  .details > div {
    display: table-cell;
    padding-bottom: 30px; }
  .details .details {
    display: table;
    visibility: visible;
    background-color: rgba(128, 128, 128, 0.5); }
  .details .detailForm {
    opacity: 1;
    padding: 0 15px 15px;
    line-height: 1.3em;
    max-width: 100%;
    width: 500px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background: white;
    box-shadow: 1px 1px 5px #ddd;
    transition: opacity 1s; }
    .details .detailForm.editable {
      max-width: 100%;
      box-sizing: border-box; }
      @media (min-width: 800px) {
        .details .detailForm.editable {
          width: 800px; } }
    @media (max-width: 799px) {
      .details .detailForm #personDetails .flex-columns {
        display: block; } }
    @media (min-width: 500px) {
      .details .detailForm {
        margin: 0 auto; } }
    .details .detailForm:after {
      content: '';
      display: table;
      clear: both; }
    .details .detailForm .profile-picture {
      flex: 0 0 120px;
      width: 120px;
      height: 120px;
      margin: 0 10px 10px 0;
      border-radius: 50%;
      background-position: center;
      background-size: cover; }
    .details .detailForm button.icon.close {
      float: right;
      border: none;
      background: transparent;
      margin-top: 10px;
      user-select: none; }
    .details .detailForm .label {
      display: none;
      font-size: 80%;
      color: #777;
      margin: -4px 0 1em;
      border-top: 1px solid #ccc; }
    .details .detailForm h2 + .label {
      margin-top: -2.4em; }
    .details .detailForm .textarea[contenteditable] {
      border: 1px solid #ccc;
      width: 100%;
      padding: 4px;
      min-height: 4em; }
    .details .detailForm .input {
      line-height: 2em;
      min-height: 2.5rem;
      display: block;
      outline-offset: -4px;
      padding: 2px 9px;
      margin-left: -9px; }
    .details .detailForm .tag-view {
      margin: 10px 0; }
      .details .detailForm .tag-view:before {
        content: '';
        display: table;
        clear: both; }
    .details .detailForm .tag {
      display: inline-block;
      vertical-align: middle;
      border: 1px solid #bbbbbb;
      padding: 5px 15px;
      height: 20px;
      border-radius: 4px;
      background: #f9d400;
      font-size: 0.9em;
      white-space: nowrap;
      box-sizing: content-box;
      margin-right: 5px;
      margin-bottom: 5px; }
      .details .detailForm .tag .delete {
        display: none;
        position: relative; }
        .details .detailForm .tag .delete:after {
          content: "×";
          position: absolute;
          top: -8px;
          right: -11px;
          cursor: pointer; }
    .details .detailForm .new-tag {
      display: none;
      background-color: white; }
      .details .detailForm .new-tag:empty:before {
        content: 'Thema hinzufügen';
        color: #aaaaaa; }
    .details .detailForm .if-editable {
      display: none; }
    .details .detailForm.editable .if-view {
      display: none; }
    .details .detailForm.editable .label {
      display: block; }
    .details .detailForm.editable .tag .delete {
      display: inline; }
    .details .detailForm.editable .new-tag {
      display: inline-block; }
    .details .detailForm.editable .if-readonly {
      display: none; }
    .details .detailForm.editable .if-editable {
      display: inherit; }
    .details .detailForm .if-person {
      display: none; }
    .details .detailForm.person .if-person {
      display: inherit; }
    .details .detailForm .if-topic {
      display: none; }
    .details .detailForm.topic .if-topic {
      display: inherit; }

html,
body.dialogOpen,
body.dialogOpen #root {
  overflow: visible; }

.topic:hover .title tspan {
  fill: #337ab7; }

.person .reflinks, .root .reflinks {
  transform: translate(100px, -30px); }

.dialogOpen .details {
  display: table;
  visibility: visible;
  background-color: rgba(128, 128, 128, 0.5); }
.dialogOpen .detailForm {
  opacity: 1; }

.sidebar-buttons > div {
  position: absolute;
  right: 20px; }
  .sidebar-buttons > div button {
    position: relative;
    outline: none;
    background-color: #aaaaaa;
    color: white;
    font-size: 28px;
    transition: background-color 0.3s;
    margin-bottom: 2px; }
    .sidebar-buttons > div button:hover {
      background: #848484; }
    .sidebar-buttons > div button:active {
      left: 1px;
      top: 1px; }
.sidebar-buttons .other {
  top: 70px; }
  .sidebar-buttons .other button {
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 50%;
    padding: 5px;
    margin-bottom: 10px; }
  .sidebar-buttons .other #profile {
    display: none;
    background-size: cover; }
.sidebar-buttons .zoom {
  bottom: 30px; }
  .sidebar-buttons .zoom button {
    box-sizing: content-box;
    text-align: center;
    display: block;
    padding: 2px 10px;
    font: 32px Courier, monospace; }
.sidebar-buttons #help {
  line-height: 1.3em;
  font-family: Arial Rounded MT Bold, Arial, sans-serif;
  color: #ffffff;
  background-color: #4ed9d5;
  padding-left: 6px; }
  .sidebar-buttons #help:hover {
    background-color: #27b4b0; }

.dialogOpen .sidebar-buttons {
  display: none; }

.selection {
  position: absolute;
  top: 0;
  margin: auto;
  width: 100%;
  text-align: center;
  padding-top: 10px; }
  .selection a {
    background: #eeefef;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none; }
    .selection a:hover {
      background: #cccfcf;
      text-decoration: none; }

.row {
  display: flex;
  position: relative; }
  .row .max-column {
    flex-grow: 1; }

.textarea p:first-of-type {
  margin-top: 0; }
.textarea p:first-of-type {
  margin-bottom: 0; }

*[contenteditable="true"]:focus-within.textarea {
  resize: vertical; }
*[contenteditable="true"]:focus-within.input {
  display: block;
  width: 100%; }

.line.level-1 {
  stroke-opacity: 0.7; }

.line.level-2 {
  stroke-opacity: 0.5; }

.line.level-3 {
  stroke-opacity: 0.3; }

.buyButtons {
  position: fixed;
  bottom: 15px;
  left: 5px; }
  .buyButtons a {
    background: #f9d400;
    color: black;
    padding: 10px;
    border-radius: 4px; }

.info {
  background: #f7f7f7;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 1em 0;
  font-size: 13px;
  clear: both; }
  .info:before {
    content: 'i';
    background: dodgerblue;
    color: white;
    font: bold 28px "Times New Roman", serif;
    line-height: 1.1em;
    text-align: center;
    display: inline-block;
    float: left;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 10px; }

.alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  font-size: 18px; }
  .alert .alert-content {
    position: relative;
    margin: 20% auto;
    background: yellow;
    border: 1px solid #ccc;
    border-radius: 6px;
    max-width: 480px;
    padding: 20px; }
    .alert .alert-content.type-error {
      background-color: #ff696c; }
    .alert .alert-content .close {
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer; }
      .alert .alert-content .close:after {
        display: block;
        content: 'x';
        color: #333333; }

label[for="image-upload"] {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 24px;
  color: white;
  text-shadow: #333 0 0 3px;
  cursor: pointer; }

#image-upload {
  display: none; }

.flex-columns {
  display: flex; }

.node-info-column {
  flex-grow: 1; }

.button-column {
  flex-direction: column;
  padding-left: 15px; }

.button {
  background: #dddddd;
  width: 150px;
  display: block;
  margin: 50px auto;
  padding: 10px;
  text-align: center;
  color: #800002;
  border: 2px solid #888888;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer; }
  .button[disabled] {
    opacity: 0.3;
    cursor: auto; }
  .button.small {
    display: inline-block;
    font-size: 14px;
    width: auto;
    margin: 10px 2em 5px 0; }
    .button.small.saveTicket {
      display: none; }
  .button.wide {
    width: 250px; }

.details .detailForm button.button.small {
  display: block;
  margin-right: 0; }

#chgPwdForm {
  display: none; }

.url-link {
  margin: 10px 0; }

.help {
  position: absolute;
  opacity: 0;
  top: -100%;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(128, 128, 128, 0.5);
  transition: opacity 0.3s; }
  .help > div {
    max-width: 50%;
    margin: -100% auto 5em;
    background: white;
    padding: 1em 2em;
    transition: all 0.3s; }
    .help > div .close {
      float: right;
      border: none;
      background: transparent; }
  .help.open {
    top: 0;
    bottom: 0;
    opacity: 1; }
    .help.open > div {
      margin-top: 5em; }

#my-talk-dialog {
  display: none; }
  #my-talk-dialog div[data-name="talk"] {
    height: 10em; }

.details .detailForm.person.talk-is-open.talk-is-open #my-talk-dialog {
  display: block; }
.details .detailForm.person.talk-is-open.talk-is-open .node-info-column,
.details .detailForm.person.talk-is-open.talk-is-open .button-column {
  display: none; }

.node.topic circle {
  fill: #ffee80;
  stroke: none; }
.node.topic .text-bg {
  fill: none; }

.cta {
  display: none; }
  .cta.hidden_persons {
    display: block; }

/*# sourceMappingURL=netvis.css.map */
