@charset "UTF-8";
html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#ffffff, #f7f7f7);
  font: 1rem -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #222222;
  overflow: hidden; }

button {
  -webkit-appearance: button;
  text-transform: none;
  cursor: pointer;
  font-size: 1.3rem; }

svg {
  opacity: 0.001;
  transition: opacity 1s 1s; }

body.initialized svg {
  opacity: 1; }

svg .links line {
  stroke: #aaa; }
svg .node {
  pointer-events: all;
  cursor: pointer;
  stroke: #666;
  stroke-width: 0.5px; }
  svg .node.open > circle, svg .node.open > rect {
    stroke: #f00;
    stroke-width: 2px; }
  svg .node .title {
    transition: 0.5s; }
    svg .node .title > text {
      transition: 0.5s 0.5s; }
      svg .node .title > text tspan {
        fill: #000;
        stroke-width: 0;
        font-weight: normal;
        text-anchor: middle;
        text-shadow: 0 0 5px #fff, 0 0 5px #fff; }
  svg .node .text-bg {
    fill: #fcffff;
    rx: 5px;
    ry: 5px; }
  svg .node .reflinks {
    position: absolute;
    opacity: 0.001;
    transition: opacity 0.3s; }
    svg .node .reflinks text {
      font-size: 32px;
      stroke: #428bca; }
    svg .node .reflinks .text-bg {
      fill: #eeefef;
      rx: 5px;
      ry: 5px; }
    svg .node .reflinks g:hover .text-bg {
      fill: #cccfcf; }
  svg .node:hover .reflinks {
    opacity: 1; }
  svg .node.withBg .title {
    transform: translate(0, 40px); }
    svg .node.withBg .title tspan {
      text-shadow: none; }
  svg .node.withBg:hover .title {
    transform: translateY(5em) scale(1.5); }
  svg .node rect {
    stroke: none; }
  svg .node > rect:first-child + text tspan {
    font-weight: bold;
    fill: #666; }

.command {
  display: none; }
  .command.active {
    display: block; }

.details {
  visibility: hidden;
  font-size: 16px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%; }
  .details > div {
    display: table-cell; }
  .details .details {
    display: table;
    visibility: visible;
    background-color: rgba(128, 128, 128, 0.5); }
  .details .detailForm {
    opacity: 1;
    padding: 0 15px 15px;
    line-height: 1.3em;
    max-width: 100%;
    margin: 0 5px;
    border: 1px solid #ccc;
    background: white;
    box-shadow: 1px 1px 5px #ddd;
    transition: opacity 1s; }
    @media (min-width: 500px) {
      .details .detailForm {
        max-width: 640px;
        width: 500px;
        margin: 0 auto; } }
    .details .detailForm:after {
      content: '';
      display: table;
      clear: both; }
    .details .detailForm .profile-picture {
      flex: 0 0 120px;
      width: 120px;
      height: 120px;
      margin: 0 10px 10px 0;
      border-radius: 50%;
      background-position: center;
      background-size: cover; }
    .details .detailForm button.close {
      float: right;
      border: none;
      background: transparent;
      margin-top: 10px;
      user-select: none; }
    .details .detailForm .label {
      display: none;
      font-size: 80%;
      color: #777;
      margin: -4px 0 1em;
      border-top: 1px solid #ccc; }
    .details .detailForm h2 + .label {
      margin-top: -2.4em; }
    .details .detailForm .textarea[contenteditable] {
      border: 1px solid #ccc;
      width: 100%;
      padding: 4px; }
    .details .detailForm .input {
      line-height: 2em;
      display: block;
      outline-offset: -4px;
      padding: 2px 9px;
      margin-left: -9px; }
    .details .detailForm .tag-view:before {
      content: '';
      display: table;
      clear: both; }
    .details .detailForm .tag {
      display: inline-block;
      vertical-align: middle;
      border: 1px solid #bbbbbb;
      padding: 5px 15px;
      height: 20px;
      border-radius: 4px;
      background: #ffffaa;
      font-size: 0.9em;
      white-space: nowrap; }
      .details .detailForm .tag .delete {
        display: none;
        position: relative; }
        .details .detailForm .tag .delete:after {
          content: "×";
          position: absolute;
          top: -8px;
          right: -11px;
          cursor: pointer; }
    .details .detailForm .new-tag {
      display: none; }
      .details .detailForm .new-tag:empty:before {
        content: 'Thema';
        color: #aaaaaa; }
    .details .detailForm .if-editable {
      display: none; }
    .details .detailForm.editable .label {
      display: block; }
    .details .detailForm.editable .tag .delete {
      display: inline; }
    .details .detailForm.editable .new-tag {
      display: inline-block; }
    .details .detailForm.editable .if-readonly {
      display: none; }
    .details .detailForm.editable .if-editable {
      display: initial; }

.dialogOpen .details {
  display: table;
  visibility: visible;
  background-color: rgba(128, 128, 128, 0.5); }
.dialogOpen .detailForm {
  opacity: 1; }

.zoom {
  position: absolute;
  right: 5px;
  top: 50%;
  font-size: 20px; }
  .zoom > div {
    margin-top: -100%; }
    .zoom > div > * {
      cursor: pointer;
      border-radius: 50%;
      margin: 10px 0;
      position: relative;
      text-align: center;
      display: block;
      height: 39px;
      width: 27px;
      padding-left: 12px;
      font: 15px Courier, monospace;
      line-height: 54px; }
      .zoom > div > *:hover {
        background: #cccfcf; }
    .zoom > div #zoomIn:before, .zoom > div #zoomOut:before {
      content: '🔎';
      font-size: 20px;
      position: absolute;
      top: -8px;
      left: 7px; }
    .zoom > div #login:before {
      content: ' ';
      position: absolute;
      top: 11px;
      left: 10px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      border: 3px solid #333;
      border-top: none; }
    .zoom > div #login:after {
      content: ' ';
      position: absolute;
      top: 8px;
      height: 11px;
      left: 18px;
      border-left: 3px solid #333; }

.dialogOpen .zoom {
  display: none; }

.selection {
  position: absolute;
  top: 0;
  margin: auto;
  width: 100%;
  text-align: center;
  padding-top: 10px; }
  .selection a {
    background: #eeefef;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none; }
    .selection a:hover {
      background: #cccfcf;
      text-decoration: none; }

.row {
  display: flex;
  position: relative; }
  .row .max-column {
    flex-grow: 1; }

.textarea p:first-of-type {
  margin-top: 0; }
.textarea p:first-of-type {
  margin-bottom: 0; }

*[contenteditable="true"]:focus-within.textarea {
  resize: vertical; }
*[contenteditable="true"]:focus-within.input {
  display: block;
  width: 100%; }

.line.level-1 {
  stroke-opacity: 0.7; }

.line.level-2 {
  stroke-opacity: 0.5; }

.line.level-3 {
  stroke-opacity: 0.3; }

.menu {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  text-align: center; }
  .menu div div {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer; }
    .menu div div:hover {
      background-color: #eee; }
    .menu div div:active {
      background-color: #ddd; }

.buyButtons {
  position: fixed;
  bottom: 15px;
  left: 5px; }
  .buyButtons a {
    background: #f9d400;
    color: black;
    padding: 10px;
    border-radius: 4px; }

.info {
  background: #f7f7f7;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 1em 0;
  font-size: 13px;
  clear: both; }
  .info:before {
    content: 'i';
    background: dodgerblue;
    color: white;
    font: bold 28px "Times New Roman", serif;
    line-height: 1.1em;
    text-align: center;
    display: inline-block;
    float: left;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 10px; }

.alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3); }
  .alert div {
    position: relative;
    margin: 40% auto;
    background: yellow;
    border: 1px solid #ccc;
    border-radius: 6px;
    max-width: 480px;
    padding: 20px; }
    .alert div:after {
      content: 'x';
      color: #333333;
      position: absolute;
      right: 5px;
      top: 0;
      cursor: pointer; }

label[for="image-upload"] {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 24px;
  color: white;
  text-shadow: #333 0 0 3px;
  cursor: pointer; }

#image-upload {
  display: none; }

/*# sourceMappingURL=netvis.css.map */
