@charset "UTF-8";
html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(#ffffff, #f7f7f7);
  font: 1rem -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #222222; }

button {
  -webkit-appearance: button;
  text-transform: none;
  cursor: pointer;
  font-size: 1.3rem; }

svg {
  opacity: 0.001;
  transition: opacity 1s 1s; }

body.initialized svg {
  opacity: 1; }

svg .links line {
  stroke: #aaa; }
svg .node {
  pointer-events: all;
  cursor: pointer;
  stroke: #000;
  stroke-width: 1px; }
  svg .node.open > circle, svg .node.open > rect {
    stroke: #f00;
    stroke-width: 2px; }
  svg .node > text {
    transition: 0.5s 0.5s; }
    svg .node > text tspan {
      font-size: 14px;
      fill: #000;
      stroke-width: 0;
      text-anchor: middle;
      text-shadow: 0 0 5px #fff, 0 0 5px #fff; }
  svg .node.withBg > text {
    transform: translate(0, 20px); }
  svg .node.withBg.dark > text tspan {
    fill: #fff;
    text-shadow: 0 0 5px #000, 0 0 5px #000; }
  svg .node:hover .title, svg .node.menuActive .title {
    transition: 0.5s;
    transform: translateY(5em) scale(1.5); }

.commands {
  opacity: 0;
  transition: opacity 0.5s; }
  .commands.commandContainer g {
    width: 100px;
    height: 50px;
    x: -50px;
    y: -10px;
    text-align: center; }
    .commands.commandContainer g .command {
      display: none; }
      .commands.commandContainer g .command.active {
        display: inline; }
      .commands.commandContainer g .command circle {
        fill: white;
        stroke: #555555;
        cursor: pointer; }
      .commands.commandContainer g .command text {
        font-family: 'Glyphicons Halflings';
        cursor: pointer; }
  .commands.active {
    opacity: 1; }

.detailForm {
  position: absolute;
  right: 0;
  left: 0;
  padding: 0 15px 15px;
  line-height: 1.3em;
  max-width: 640px;
  margin: 2em auto 0 auto;
  border: 1px solid #ccc;
  background: white;
  box-shadow: 1px 1px 5px #ddd; }
  .detailForm:after {
    content: '';
    display: table;
    clear: both; }
  .detailForm img.profile-picture {
    float: left;
    margin: 1em 1em 1em 0;
    width: 120px; }
  .detailForm h2 button.close {
    float: right;
    border: none;
    background: transparent; }
  .detailForm:not(.own) label, .detailForm.own > span:not(.tag-view) {
    display: none; }
  .detailForm .tag-view {
    display: block; }
    .detailForm .tag-view .tag {
      position: relative;
      display: inline-block;
      border: 1px solid #222222;
      padding: 2px 15px 2px 10px;
      margin-right: 5px;
      line-height: 2em;
      border-radius: 4px;
      background: #f9d400;
      white-space: nowrap; }
      .detailForm .tag-view .tag.new-tag {
        font-size: 100%;
        width: 80px; }
      .detailForm .tag-view .tag .delete:after {
        content: "×";
        position: absolute;
        top: -8px;
        right: 2px;
        cursor: pointer; }

:not(h2) > label {
  display: block;
  margin-bottom: 0.5em; }
  :not(h2) > label input, :not(h2) > label textarea {
    width: 100%;
    max-width: 100%;
    font-size: 110%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ddd; }

#showDetails {
  font-size: 16px;
  font-family: Courier, monospace;
  font-weight: bold; }

.zoom {
  position: absolute;
  right: 5px;
  top: 50%;
  font: 20px 'Glyphicons Halflings'; }
  .zoom > div {
    margin-top: -100%; }
    .zoom > div > * {
      cursor: pointer;
      background: white;
      padding: 5px 6.5px;
      border-radius: 50%;
      border: 1px solid #ccc;
      margin: 10px 0; }

.dialogOpen .zoom {
  display: none; }

.buyButtons {
  position: fixed;
  bottom: 15px;
  left: 5px; }
  .buyButtons a {
    background: #f9d400;
    color: black;
    padding: 10px;
    border-radius: 4px; }

.info {
  background: #f7f7f7;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 1em 0;
  font-size: 13px; }
  .info:before {
    content: 'i';
    background: dodgerblue;
    color: white;
    font: bold 28px "Times New Roman", serif;
    line-height: 1.1em;
    text-align: center;
    display: inline-block;
    float: left;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 10px; }

.alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3); }
  .alert div {
    position: relative;
    margin: 40% auto;
    background: yellow;
    border: 1px solid #ccc;
    border-radius: 6px;
    max-width: 480px;
    padding: 20px; }
    .alert div:after {
      content: 'x';
      color: #333333;
      position: absolute;
      right: 5px;
      top: 0;
      cursor: pointer; }

label[for="image-upload"] {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 24px;
  color: white;
  text-shadow: #333 0 0 3px;
  cursor: pointer; }

#image-upload {
  display: none; }

#openNode {
  transform: translate(-45px, -20px); }

#closeNode {
  transform: translate(-27px, -41px); }

#newConnection {
  transform: translate(0px, -50px); }

#removeNode {
  transform: translate(27px, -41px); }

#showDetails {
  transform: translate(45px, -20px); }

/*# sourceMappingURL=netvis.css.map */
