@import "general";


.tiles {
    margin: 0; // List reset
    padding: 0; // list reset
    list-style-type: none; // list reset
    margin-bottom: 3rem;

    // 2 columns on medium
    @media (min-width: 640px) {
        columns: 2;
        column-gap: 2rem;
    }

    // 3 columns on large
    @media (min-width: 950px) {
        columns: 3;
        column-gap: 2rem;
    }
}

.tiles__item {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    background: rgba(78, 217, 213, .9);
    margin-bottom: 1rem;
    border-radius: 3px;
    break-inside: avoid; // only wrap the whole block

    // every first item turqoise
    &:nth-child(3n+1) {
        background: transparentize($turqoise, .2);
    }

    // every second item magenta
    &:nth-child(3n+2) {
        background: transparentize($magenta, .05);
    }

    // every thirs item yellow
    &:nth-child(3n+3) {
        background: transparentize($yellow, .05);
    }

    @media (min-width: 420px) {
        margin-bottom: 1.9rem;
    }

    @media (min-width: 640px) {

        display: block; // Reset flexbox
        text-align: center;

        // every first item turqoise
        &:nth-child(2n+1) {
            background: transparentize($turqoise, .05);
        }

        // every second item magenta
        &:nth-child(2n+2) {
            background: transparentize($magenta, .05);
        }

        // every thirs item yellow
        &:nth-child(2n+3) {
            background: transparentize($yellow, .05);
        }
    }


    @media (min-width: 950px) {

        // every first item turqoise
        &:nth-child(3n+1) {
            background: transparentize($turqoise, .05);
        }

        // every second item magenta
        &:nth-child(3n+2) {
            background: transparentize($magenta, .05);
        }

        // every thirs item yellow
        &:nth-child(3n+3) {
            background: transparentize($yellow, .05);
        }
    }
}

.tiles__img {
    display: none; // don´t display on smallest screen

    @media (min-width: 500px) {
        display: inline;
        flex: 1 0 100px;
        order: 1; // display image right-aligned
        margin: .45rem 0 2rem 1.5rem;
    }

    @media (min-width: 640px) {
        flex: 1 0 180px;
        order: 0; // Reset
        margin: 2rem 0;
    }
}

.tiles__body {
    flex: 2 1 auto;
    font-size: .9rem; // Smaller font on small screens
    margin-right: 1rem;

    @media (min-width: 640px) {
        font-size: initial; // Reset
    }
}

.tiles__headline {
    margin-top: 0; // Reset
    line-height: initial; // Reset
}

.url {
    display: block;
    color: $black;
}

.tiles__item.box--alert {
  padding: 2rem;
  & > div {
    text-align: left;
    background: linear-gradient(135deg, rgba(0,0,0,.6) 2%, rgba(0, 0, 0, 0.15) 3%, rgba(255, 255, 255, .15) 4%, white 100%), white;
    padding: .25rem 2rem;
    margin: 0;
    clip-path: polygon(20px 0, 0 20px, 0 100%, 100% 100%, 100% 0);
    -webkit-clip-path: polygon(20px 0, 0 20px, 0 100%, 100% 100%, 100% 0);
}
  background-color: #f9d400;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ff696c' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");

  // background-color: rgba(255, 105, 108, 0.8);
  // background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='rgba(249, 212, 0, 0.5)' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}