html, body {
  margin: 0;
  padding: 0;
  font: 15px Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 15px;
}

.col-4, .col-6, .col-8 {
  display: inline-block;
}

.col-12 {
  width: 100%;
}

.col-8 {
  width: 66.667%;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.333%;
}

.col-2 {
  width: 16.667%;
}

.row:before, .row:after {
  content: ' ';
  display: table;
  clear: both;
}

.info {
  background: #f7f7f7;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 1em 0;
  font-size: 13px;

  &:before {
    content: 'i';
    background: dodgerblue;
    color: white;
    font: bold 28px "Times New Roman", serif;
    line-height: 1.1em;
    text-align: center;
    display: inline-block;
    float: left;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.form-group {
  margin-bottom: 5px;
  float: left;
}

.static {
  float: left;
  font-size: 18px;
  padding: 8px;
}

.checkbox, .radio {
  margin-bottom: 10px;
}

input, select {
  font-size: 18px;
  padding: 5px;
  width: 100%;

  &[type=radio], &[type=checkbox] {
    width: auto;
  }
}

.checkbox label {
  display: block;
  padding-left: 27px;

  input[type=checkbox] {
    margin-left: -22px;
  }
}

label.disabled {
  color: #aaaaaa;
}

button {
  padding: 10px;
  margin-bottom: 1em;
}

.participant .delete {
  font-size: 12px;
  margin-left: 3em;
}

#invoice-details {
  margin: 1em 0;
  border: 1px solid #ccc;
  padding: 15px;
}

.ticket {
  margin: 1em 0;
  border: 1px solid #ccc;
  padding: 15px;
  background: #f9d400;

  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}
