@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Martel:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Martel:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Martel:400,700&display=swap");
.yellow {
  background: #f9d400; }

.turquoise {
  background: #4ED9D5; }

.magenta {
  background: #ff696c; }

.white {
  background: white; }

.grey {
  background: #efefef; }

@font-face {
  font-family: 'Affogato-Bold';
  src: url("webfont/Affogato-Bold.eot");
  src: url("webfont/Affogato-Bold.eot?#iefix") format("embedded-opentype"), url("webfont/Affogato-Bold.woff") format("woff"), url("webfont/Affogato-Bold.woff2") format("woff2"), url("webfont/Affogato-Bold.ttf") format("truetype"), url("webfont/Affogato-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
.yellow {
  background: #f9d400; }

.turquoise {
  background: #4ED9D5; }

.magenta {
  background: #ff696c; }

.white {
  background: white; }

.grey {
  background: #efefef; }

@font-face {
  font-family: 'Affogato-Bold';
  src: url("webfont/Affogato-Bold.eot");
  src: url("webfont/Affogato-Bold.eot?#iefix") format("embedded-opentype"), url("webfont/Affogato-Bold.woff") format("woff"), url("webfont/Affogato-Bold.woff2") format("woff2"), url("webfont/Affogato-Bold.ttf") format("truetype"), url("webfont/Affogato-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "icomoon";
  src: url("webfont/icomoon.eot");
  src: url("webfont/icomoon.eot?#iefix") format("embedded-opentype"), url("webfont/icomoon.woff") format("woff"), url("webfont/icomoon.ttf") format("truetype"), url("webfont/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
.main-menu {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  letter-spacing: 0;
  font-style: normal;
  z-index: 9999;
  background: linear-gradient(to bottom, #f9d400 0%, #f9d400 68%, #ff696c 68%, #ff696c 100%);
  height: 153px; }
  @media only screen and (max-width: 1099px) {
    .main-menu .alignright, .main-menu .alignleft {
      text-align: center; } }
  @media only screen and (min-width: 1100px) {
    .main-menu .alignright {
      float: right; }
    .main-menu .alignleft {
      float: left; } }
  .main-menu ul {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none; }
  .main-menu .menu {
    top: 0;
    right: 0; }
    .main-menu .menu > li {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-right: 30px;
      border-top: 3px solid transparent; }
      .main-menu .menu > li:hover, .main-menu .menu > li.selected {
        border-color: #ff696c; }
        .main-menu .menu > li:hover > a, .main-menu .menu > li.selected > a {
          color: #ff696c; }
      .main-menu .menu > li > a {
        display: flex;
        align-items: center;
        transition: 0.2s color linear;
        height: 90px;
        color: #343434; }
  .main-menu .sub-menu {
    top: 70px;
    right: -30px;
    background-color: #f9d400;
    width: 180px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s ease-in;
    z-index: 9999;
    border-top: 3px solid #ff696c;
    box-shadow: rgba(0, 0, 0, 0.1) 6px 6px 6px; }
    .main-menu .sub-menu li {
      display: block;
      margin: 0; }
      .main-menu .sub-menu li a {
        display: block;
        padding: 1.3em 1em;
        text-align: left;
        height: 57px; }
        .main-menu .sub-menu li a:hover {
          background-color: #f9ea77; }
  .main-menu .menu li:hover .sub-menu {
    visibility: visible;
    opacity: 1; }
  .main-menu .toggle-menu {
    position: absolute;
    top: 1.3em;
    right: 2em;
    font-size: 24px;
    cursor: pointer; }
  .main-menu .dropdown-menu .toggle-menu {
    top: 0; }
  @media screen and (max-width: 799px) {
    .main-menu .menu {
      display: none;
      top: 140px; }
    .main-menu .toggle-menu.opened + .menu,
    .main-menu .toggle-menu.opened + .sub-menu {
      display: block;
      font-size: 18px;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 999;
      background: #f5f5f5;
      border: none; }
      .main-menu .toggle-menu.opened + .menu > li,
      .main-menu .toggle-menu.opened + .sub-menu > li {
        display: block;
        margin-right: 0; }
        .main-menu .toggle-menu.opened + .menu > li:hover,
        .main-menu .toggle-menu.opened + .sub-menu > li:hover {
          background: #dddddd;
          color: #343434; }
        .main-menu .toggle-menu.opened + .menu > li > a,
        .main-menu .toggle-menu.opened + .sub-menu > li > a {
          height: 50px;
          padding-left: 30px;
          color: #878787; }
          .main-menu .toggle-menu.opened + .menu > li > a:hover,
          .main-menu .toggle-menu.opened + .sub-menu > li > a:hover {
            background: #dddddd; }
    .main-menu .toggle-menu.opened + .sub-menu {
      top: 0;
      position: static;
      visibility: visible;
      opacity: 1; }
      .main-menu .toggle-menu.opened + .sub-menu a:before {
        content: ' - '; } }
  @media screen and (min-width: 800px) {
    .main-menu .menu {
      font-size: 16px;
      font-weight: 700; }
    .main-menu .toggle-menu {
      display: none !important; } }

.social-networks-wrapper {
  color: #545455;
  padding-left: 18px; }
  .social-networks-wrapper .social-network-icon {
    display: inline-flex;
    align-items: center;
    height: 44px;
    margin: 0 10px;
    text-decoration: none;
    font-size: 16px;
    color: #545455;
    font-family: icomoon !important; }
  .social-networks-wrapper .icon-twitter:before {
    content: "\e605"; }
  .social-networks-wrapper .icon-facebook:before {
    content: "\e604"; }

body.logged-in .logged-out,
body.logged-out .logged-in {
  display: none !important; }

footer {
  background-color: #f5f5f5;
  color: #343434;
  border-top: 1px solid #4b4c4d;
  padding: 35px;
  text-align: center;
  line-height: 1.5em; }

.yellow {
  background: #f9d400; }

.turquoise {
  background: #4ED9D5; }

.magenta {
  background: #ff696c; }

.white {
  background: white; }

.grey {
  background: #efefef; }

@font-face {
  font-family: 'Affogato-Bold';
  src: url("webfont/Affogato-Bold.eot");
  src: url("webfont/Affogato-Bold.eot?#iefix") format("embedded-opentype"), url("webfont/Affogato-Bold.woff") format("woff"), url("webfont/Affogato-Bold.woff2") format("woff2"), url("webfont/Affogato-Bold.ttf") format("truetype"), url("webfont/Affogato-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
a, button {
  text-decoration: none;
  transition: color .2s linear; }

.button {
  display: inline-block;
  font: 14px Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin: 2em 0;
  border: 2px solid #343434;
  width: auto;
  padding: 13px 29px;
  background: #dddddd;
  color: #343434;
  cursor: pointer; }
  .button:hover {
    background: #efefef; }
  .button[disabled] {
    opacity: 0.3;
    cursor: auto; }
  .button.small {
    display: inline-block;
    font-size: 14px;
    width: auto;
    margin: 10px 2em 5px 0; }
    .button.small.saveTicket {
      display: none; }
  .button.wide {
    width: 250px; }

.button.yellow {
  background: #f9d400; }
  .button.yellow:hover {
    background-color: #ff696c; }

.button.magenta {
  background: #ff696c; }
  .button.magenta:hover {
    background-color: #4ED9D5; }

.button.turquoise {
  background: #4ED9D5; }
  .button.turquoise:hover {
    background-color: #f9d400; }

html, body {
  margin: 0;
  padding: 0;
  font: 15px Arial, sans-serif;
  width: 100%;
  overflow-x: hidden;
  font-family: Martel, Times, serif; }

* {
  box-sizing: border-box; }

h1, h2, h3 {
  font-family: Affogato-Bold, Arial, Helvetica, sans-serif; }

h2 {
  line-height: 2; }

h3 {
  margin-top: 0.5em; }

a {
  text-decoration: none;
  color: #ff696c; }

.container {
  position: relative;
  max-width: 768px;
  margin: 0 auto;
  padding: 0 15px; }
  .container:after {
    content: ' ';
    display: table;
    clear: both; }

.col-4, .col-6, .col-8 {
  display: inline-block; }

.col-12 {
  width: 100%; }

.col-8 {
  width: 66.667%; }

.col-6 {
  width: 50%; }

.col-4 {
  width: 33.333%; }

.col-2 {
  width: 16.667%; }

.row:before, .row:after {
  content: ' ';
  display: table;
  clear: both; }

#logo {
  position: absolute;
  left: 30px;
  top: 31px;
  height: 90px; }

#main {
  padding: 0 15px 20px;
  min-height: 100%; }
  @media (min-width: 740px) {
    #main {
      background: #f5f5f5 url(bg_hero_xcamp_v01-1.jpg) no-repeat left top;
      background-size: 150%;
      padding: 100px 30px 0; } }
  @media (min-width: 1100px) {
    #main {
      background-size: contain; } }
  #main .container {
    max-width: 1100px;
    background-color: rgba(250, 250, 250, 0.7);
    box-shadow: rgba(0, 0, 0, 0.1) 6px 6px 6px;
    border: 1px solid #ccc;
    padding: 1em 10px; }
    @media (min-width: 400px) {
      #main .container {
        margin-top: 40px; } }
    @media (min-width: 740px) {
      #main .container {
        padding: 1em 3em; } }
    #main .container.no-background {
      background: transparent;
      border: none;
      box-shadow: none;
      color: #343434;
      max-width: 1170px;
      padding: 1em 0 0 0; }
      @media (min-width: 740px) {
        #main .container.no-background h1 {
          color: white; } }

.form-group {
  margin-bottom: 5px;
  float: left; }

.static {
  float: left;
  font-size: 18px;
  padding: 8px; }

.checkbox, .radio {
  margin-bottom: 10px; }

input, select, textarea {
  font-size: 18px;
  padding: 5px;
  width: 100%; }
  input[type=radio], input[type=checkbox], select[type=radio], select[type=checkbox], textarea[type=radio], textarea[type=checkbox] {
    width: auto; }

.checkbox label {
  display: block;
  padding-left: 27px; }
  .checkbox label input[type=checkbox] {
    margin-left: -22px; }

label.disabled {
  color: #aaaaaa; }

button {
  padding: 10px;
  margin-bottom: 1em; }

.participant .delete {
  font-size: 12px;
  margin-left: 3em; }

.hidden {
  display: none; }

#invoice-details {
  margin: 1em 0;
  border: 1px solid #ccc;
  padding: 15px; }

@media print {
  .noprint {
    display: none !important; }

  input {
    border: none; } }
.ticket {
  margin: 1em 0;
  border: 1px solid #ccc;
  padding: 15px;
  background: white; }
  .ticket:after {
    content: ' ';
    display: table;
    clear: both; }
  .ticket .logo {
    width: 70px;
    height: 70px;
    float: left;
    padding-right: 10px; }
  .ticket .ticketNo {
    float: right; }
  .ticket .location {
    font-size: 90%; }
  @media (min-width: 740px) {
    .ticket .row:before, .ticket .row:after {
      clear: both; } }
  @media (max-width: 739px) {
    .ticket .col-4 {
      width: 50%; }
    .ticket .col-8 {
      width: 100%; } }
  @media (max-width: 480px) {
    .ticket .location {
      font-size: 12px; }
    .ticket input {
      font-size: 14px; } }

dl {
  margin: 0; }
  dl dt {
    font-size: 1.3em;
    line-height: 2em; }
  dl dd {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s; }
  dl:hover dd {
    height: auto;
    opacity: 1; }

#ticket-presale {
  background: #f9d400;
  padding: 28px; }

.chg-pwd {
  max-width: 600px;
  margin: 0 auto 2em;
  background: white;
  border: 1px solid #ccc;
  padding: 20px; }
  .chg-pwd label {
    line-height: 2.4em; }
    .chg-pwd label:after {
      content: ' ';
      display: table;
      clear: both; }
  .chg-pwd input {
    float: right; }
    @media (min-width: 480px) {
      .chg-pwd input {
        width: 60%; } }

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border-left: 0.5px solid #555;
  border-top: 0.5px solid #555; }
  table th, table td {
    vertical-align: top;
    font-size: 14px;
    padding: 5px;
    border: 0.5px solid #555555;
    border-top: none;
    border-left: none; }
  table td.numeric {
    text-align: right; }

#invoices-list button.setPayment {
  float: right;
  padding: 0;
  cursor: pointer;
  width: 14px;
  height: 17px; }
#invoices-list tr.open {
  background: #ff8888; }
  #invoices-list tr.open a {
    color: white; }
#invoices-list tr.paid {
  background: #88ff88; }
  #invoices-list tr.paid button.setPayment:before {
    content: '✔';
    display: inline; }
#invoices-list .participant {
  line-height: 20px; }
  #invoices-list .participant input {
    float: right; }

#main.maximize {
  padding: 0; }
  #main.maximize .container {
    margin: 0 auto; }
    #main.maximize .container #logo {
      height: 60px;
      left: 35px; }
    #main.maximize .container h1 {
      text-align: center; }
    #main.maximize .container .row {
      text-align: center; }
    #main.maximize .container video {
      max-width: 100%;
      width: 320px;
      height: 240px; }
      @media (min-width: 640px) {
        #main.maximize .container video {
          float: left; } }
    #main.maximize .container #characteristics {
      height: 240px;
      width: 320px;
      text-align: center;
      padding: 10px;
      display: none; }
      #main.maximize .container #characteristics.ok {
        background: green; }
      #main.maximize .container #characteristics.warning {
        background: #cccc00; }
      #main.maximize .container #characteristics.error {
        background: red; }
      #main.maximize .container #characteristics img {
        max-width: 80%;
        max-height: 80%;
        float: none; }
      #main.maximize .container #characteristics div {
        font-size: 20px;
        padding: 10px;
        color: white;
        line-height: 0.6; }
      #main.maximize .container #characteristics .button.small {
        margin-right: 0; }

#application-description {
  height: 4em; }

#login-form {
  text-align: center; }
  #login-form label {
    width: 320px;
    margin: 0 auto;
    display: block;
    text-align: left; }

.info {
  background: #f7f7f7;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 1em 0;
  font-size: 13px;
  clear: both; }
  .info:before {
    content: 'i';
    background: dodgerblue;
    color: white;
    font: bold 28px "Times New Roman", serif;
    line-height: 1.1em;
    text-align: center;
    display: inline-block;
    float: left;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 10px; }

.alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  font-size: 18px; }
  .alert .alert-content {
    position: relative;
    margin: 20% auto;
    background: yellow;
    border: 1px solid #ccc;
    border-radius: 6px;
    max-width: 480px;
    padding: 20px; }
    .alert .alert-content.type-error {
      background-color: #ff696c; }
    .alert .alert-content .close {
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer; }
      .alert .alert-content .close:after {
        display: block;
        content: 'x';
        color: #333333; }

/*# sourceMappingURL=ticket.css.map */
