<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>XCamp 2018 Mein Account</title>
    <base href="{{baseUrl}}">
    <link rel="stylesheet" href="ticket.css">
</head>
<body data-code="{{accessCode}}">
{{> menu}}
{{> logo}}
<div id="main">
    <div class="container">
        <h1>Mein XCamp Account</h1>

        <p>Wir freuen uns über deine Teilnahme am diesjährigen XCamp!</p>

        {{#invoice}}
            <p>Auf dieser Seite findest du die Rechnung und kannst die gekauften Tickets verwalten.</p>
        {{/invoice}}

        {{^password}}
            <div class="chg-pwd">
                <h2>Schütze diesen Zugang</h2>
                <p>
                    Setze ein Passwort für die Seite, damit nur du diese Daten sehen und
                    bearbeiten kannst. Gib' hier das Passwort ein:
                </p>

                <form action="accounts/{{accessCode}}/password" method="post" id="chg-pwd-form">
                    <label>
                        Passwort:
                        <input type="password" name="password" id="password">
                    </label>
                    <label>
                        Passwort wiederholen:
                        <input type="password" id="password-repeat">
                    </label>
                    <button type="submit">Passwort setzen</button>
                </form>
            </div>
        {{/password}}

        {{#invoice}}
            <p><a href="accounts/{{accessCode}}/invoices/current" target="_blank" class="button wide">
                Hier ist deine Rechnung
            </a></p>

            {{^paid}}
                <p>
                    Bitte überweise den Betrag innerhalb von 10 Tagen auf das Konto Nr. DE68 501 900 00 6100 700 610
                    der Justso GmbH, Frankfurt.
                </p>
            {{/paid}}
        {{/invoice}}

        <p>
            Hier sind die gebuchten Tickets. Bitte personalisiere die Tickets vor dem Event. Bring dein
            Ticket auf deinem Smartphone oder ausgedruckt mit.
        </p>

        <p>
            Tickets können übertragen werden, indem man hier den neuen Teilnehmer einträgt und speichert.
        </p>

        {{#tickets}}

            <form class="ticket" id="{{access_code}}">
                {{> ticketHeader}}

                {{> ticketData}}

                <div class="form-group">
                    <button class="button small printTicket">Ausdrucken</button>
                    <button class="button small saveTicket">Daten speichern</button>
                </div>
            </form>

        {{/tickets}}

        <div class="info">
            Wir benötigen die Namen und E-Mail-Adressen der Teilnehmer zum Versenden von Informationen über das gebuchte
            Event, für die Aufnahme in unsere elektronische Teilnehmer-Liste und die Namensschilder beim Event.
            Wir müssen auch die Namen der tatsächlichen Teilnehmer an den Sicherheitsdienst des Gebäudes (DB Sicherheit
            GmbH) melden.<br><br>

            Auf Anforderung werden wir die Daten gern nach dem Event wieder entfernen. Dazu genügt eine einfache E-Mail
            an <a class="mail2info"></a>.<br><br>

            Während der Veranstaltung werden Fotos und Filme gemacht, die auf sozialen Medien (z.B. Twitter) oder der
            xcamp.co Website veröffentlicht werden. Wenn du nicht dort erscheinen möchtest, sag' am Einlass Bescheid.
        </div>

        {{#password}}
            <div class="chg-pwd">
                <h2>Passwort ändern</h2>
                <p>
                    Du kannst hier dein Passwort ändern:
                </p>

                <form action="accounts/{{accessCode}}/password" method="post" id="chg-pwd-form">
                    <label>
                        Neues Passwort:
                        <input type="password" name="password" id="password">
                    </label>
                    <label>
                        Passwort wiederholen:
                        <input type="password" id="password-repeat">
                    </label>
                    <button type="submit">Ändern</button>
                </form>
            </div>
        {{/password}}
    </div>
</div>
{{> footer}}

<script src="qrcode/qrcode.min.js"></script>
<script src="common.js"></script>
<script src="account.js"></script>
</body>
</html>
