<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>XCamp 2018 Mein Account</title>
    <base href="{{baseUrl}}">
    <link rel="stylesheet" href="ticket.css">
</head>
<body data-code="{{accessCode}}">
{{> menu}}
{{> logo}}
<div id="main">
    <div class="container">
        <h1>Mein XCamp Account</h1>

        <p>Wir freuen uns über deine Teilnahme am diesjährigen XCamp!</p>

        {{#invoice}}
            <p>Auf dieser Seite findest du die Rechnung und kannst die gekauften Tickets verwalten.</p>
        {{/invoice}}

        {{^password}}
            <div class="chg-pwd">
                <h2>Schütze diesen Zugang</h2>
                <p>
                    Setze ein Passwort für die Seite, damit nur du diese Daten sehen und
                    bearbeiten kannst. Gib' hier das Passwort ein:
                </p>

                <form action="accounts/{{accessCode}}/password" method="post" id="chg-pwd-form">
                    <label>
                        Passwort:
                        <input type="password" name="password" id="password">
                    </label>
                    <label>
                        Passwort wiederholen:
                        <input type="password" id="password-repeat">
                    </label>
                    <button type="submit">Passwort setzen</button>
                </form>
            </div>
        {{/password}}

        {{#invoice}}
            <p><a href="accounts/{{accessCode}}/invoices/current" target="_blank" class="button wide">
                Hier ist deine Rechnung
            </a></p>

            {{^paid}}
                <p>
                    Bitte überweise den Betrag innerhalb von 10 Tagen auf das Konto Nr. DE68 501 900 00 6100 700 610
                    der Justso GmbH, Frankfurt.
                </p>
            {{/paid}}
        {{/invoice}}

        <p>
            Hier sind die gebuchten Tickets. Bitte personalisiere die Tickets vor dem Event. Bring dein
            Ticket auf deinem Smartphone oder ausgedruckt mit.
        </p>

        <p>
            Tickets können übertragen werden, indem man hier den neuen Teilnehmer einträgt und speichert.
        </p>

        {{#tickets}}

            <form class="ticket" id="{{access_code}}">
                {{> ticketHeader}}

                {{> ticketData}}
            </form>

        {{/tickets}}

        {{#password}}
            <div class="chg-pwd">
                <h2>Passwort ändern</h2>
                <p>
                    Du kannst hier dein Passwort ändern:
                </p>

                <form action="accounts/{{accessCode}}/password" method="post" id="chg-pwd-form">
                    <label>
                        Neues Passwort:
                        <input type="password" name="password" id="password">
                    </label>
                    <label>
                        Passwort wiederholen:
                        <input type="password" id="password-repeat">
                    </label>
                    <button type="submit">Ändern</button>
                </form>
            </div>
        {{/password}}
    </div>
</div>
{{> footer}}

<script src="qrcode/qrcode.min.js"></script>
<script src="common.js"></script>
<script src="account.js"></script>
</body>
</html>
