<div>
    <img src="{{baseUrl}}xcamp-large.png" style="float: left; height: 100px; margin-right: 20px;"/>
    <h1>Ticketbestellung XCamp 2018</h1>
</div>

<p>Liebe XCamp Orga!</p>

<p>Es sind neue Tickets für das XCamp gebucht worden!</p>

<p>{{ticketCount}} Ticket(s) für</p>
<p style="font-size: 18px; border: 1px solid grey; padding: 20px">
    {{customer.firm}}<br>
    {{person.firstName}} {{person.lastName}}
</p>

<p>Der XCamp Ticket-Bot</p>

<footer style="border-top: 1px solid #bbb;
               color: #888;
               font-size: 80%;
               padding-top: 1em;
               width: 100%;">
    Justso GmbH, Praunheimer Landstraße 95, 60488 Frankfurt am Main<br/>
    Geschäftsführer: Dr. Christiane Gerigk, Joachim Schirrmacher<br/>
    Registergericht: Amtsgericht Frankfurt am Main, Registernummer: HRB 96356<br/>
    USt.-IdNr. DE288767862 | StNr. 045/236/95300
</footer>
