<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ticket für das XCamp kaufen</title>
    <base href="{{baseUrl}}">
    <link rel="stylesheet" href="ticket.css">
</head>
<body>
{{> menu}}
{{> logo}}
<div id="main">
    <div class="container">
        <h1>Tickets für das XCamp kaufen</h1>

        <div id="ticket-presale">
            <h2>Noch gibt es leider keine Tickets für das XCamp18</h2>
            <p>
                Aber du kannst dich natürlich für unseren Newsletter eintragen, damit wir dich sofort informieren,
                sobald es welche gibt.

                <a href="/#newsletter" target="_parent" class="button">Zum Newsletter</a>
            </p>
        </div>

        <form id="ticket-form" method="post" action="tickets">
            <h2>Gib hier die Rechnungs-Daten an:</h2>
            <div class="info">
                Wir erheben diese Daten ausschließlich für die Rechnungsstellung und die damit verbundene
                E-Mail-Kommunikation und werden diese nach Abschluss aller erforderlichen Geschäftsvorgänge automatisch
                wieder löschen. Bei Zahlung mittels PayPal werden die Daten außerdem an PayPal (Europe) S.a.r.l. et Cie
                S.C.A. übertragen. Deren Datenschutzbestimmungen sind <a
                    href="https://www.paypal.com/de/webapps/mpp/ua/privacy-full?locale.x=de_DE">hier einsehbar</a>.
            </div>

            <div class="row">
                <div class="form-group radio col-6">
                    <label>
                        <input type="radio" name="type" class="form-control" value="corporate" id="type-corporate"
                               checked/>Unternehmen
                    </label>
                </div>
                <div class="form-group radio col-6">
                    <label>
                        <input type="radio" name="type" class="form-control" value="student" id="type-private"/>Selbstzahler
                    </label>
                </div>

                <div class="form-group col-12">
                    <label for="payment-firm"></label>
                    <input type="text" id="payment-firm" name="firm" class="form-control" placeholder="Name der Firma"
                           autocomplete='organization'/>
                </div>
                <div class="form-group col-6">
                    <label for="payment-first-name"></label>
                    <input type="text" id="payment-first-name" name="firstName" class="form-control mandatory"
                           placeholder="Vorname" autocomplete='given-name'
                           required/>
                </div>
                <div class="form-group col-6">
                    <label for="payment-name"></label>
                    <input type="text" id="payment-name" name="lastName" class="form-control mandatory"
                           placeholder="Ihr Name"
                           autocomplete='family-name' required/>
                </div>
                <div class="form-group col-12">
                    <label for="payment-email"></label>
                    <input type="email" id="payment-email" name="email" class="form-control mandatory"
                           autocomplete='email' placeholder="Ihre E-Mail-Adresse" required/>
                </div>
                <div class="form-group col-12">
                    <label for="payment-address"></label>
                    <input type="text" id="payment-address" name="address" class="form-control mandatory"
                           autocomplete='address-line1' placeholder="Straße, Hausnummer" required/>
                </div>
                <div class="form-group col-4">
                    <label for="payment-post-code"></label>
                    <input type="text" id="payment-post-code" name="postcode" class="form-control mandatory"
                           autocomplete='postal-code' placeholder="Postleitzahl" required/>
                </div>
                <div class="form-group col-8">
                    <label for="payment-city"></label>
                    <input type="text" id="payment-city" name="city" class="form-control mandatory" placeholder="Stadt"
                           autocomplete='address-level2' required/>
                </div>
                <div class="form-group col-12">
                    <label for="payment-country"></label>
                    <select id="payment-country" name="country" class="form-control mandatory"
                            autocomplete='country-name'>
                        <option value="de" selected>Deutschland</option>
                        <option value="ch">Schweiz</option>
                        <option value="at">Österreich</option>
                    </select>
                </div>

                <div class="static">
                    Ich möchte
                </div>
                <div class="form-group col-2">
                    <label for="ticketCount"></label>
                    <input type="number" id="ticketCount" name="ticketCount" class="form-control mandatory"
                           autocomplete="off" placeholder="Anzahl" value="1" required/>
                </div>
                <div class="static">
                    Tickets
                </div>
            </div>

            <div id="invoice-details"></div>

            <div class="radio">
                <label>
                    <input type="radio" name="payment" class="form-control" value="paypal" id="payment-paypal" checked/>
                    Ich zahle per PayPal mit Kreditkarte oder SEPA-Einzug
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="payment" class="form-control" value="invoice" id="payment-invoice"/>
                    Ich zahle auf Rechnung (nur bei Unternehmens-Tickets)
                </label>
            </div>

            <div class="info">
                Der Ticketpreis finanziert Getränke und Verpflegung bei der Veranstaltung. Da wir die
                Bestellungen bei Lieferanten unseres Vertrauens frühzeitig aufgeben, kann eine Rückerstattung
                der Gebühr im Verhinderungsfall leider nicht erfolgen. Das Ticket ist übertragbar und wir
                unterstützen gern bei der Suche nach einem Ersatz. Erfahrungsgemäß funktioniert das am
                einfachsten über unseren <a href="https://crossmind.slack.com" target="_blank">Slack-Channel</a>.
            </div>

            <div class="form-group checkbox">
                <label>
                    <input type="checkbox" name="tos_accepted" class="form-control" id="tos-accepted"/>
                    Ich kaufe hiermit das/die oben spezifizierte(n) Ticket(s) für das XCamp 2018, habe
                    die Hinweise zum Datenschutz zur Kenntnis genommen und bin damit einverstanden, dass meine
                    persönlichen
                    Daten wie beschrieben elektronisch gespeichert werden.
                </label>
            </div>

            <button type="submit" id="submit-button" class="button">Jetzt kaufen</button>
        </form>
    </div>
</div>
{{> footer}}

<script src="ticket.js"></script>
</body>
</html>
