<meta name="description" content="Barcamp-Plus für digitale Innovation und agile Produktentwicklung in Frankfurt am Main"/>

<link rel="canonical" href="https://xcamp.co/" />

<meta property="og:locale" content="de_DE" />
<meta property="og:type" content="website" />
<meta property="og:title" content="2019 XCamp - Barcamp-Plus für digitale Innovation und agile Produktentwicklung - XCamp" />
<meta property="og:description" content="Barcamp-Plus für digitale Innovation und agile Produktentwicklung in Frankfurt am Main" />
<meta property="og:url" content="https://xcamp.co/" />
<meta property="og:site_name" content="XCamp " />
<meta property="og:image" content="https://xcamp.co/wp-content/uploads/sites/18/2019/07/Logo_XCamp___90px.png"/>

<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="Barcamp-Plus für digitale Innovation und agile Produktentwicklung in Frankfurt am Main" />
<meta name="twitter:title" content="2019 XCamp - Barcamp-Plus für digitale Innovation und agile Produktentwicklung - XCamp" />
<meta name="twitter:image" content="https://xcamp.co/wp-content/uploads/sites/18/2019/06/Netvis2.jpg" />

<link rel="alternate" type="application/rss+xml" title="XCamp  &raquo; Feed" href="https://xcamp.co/feed/" />
<link rel="alternate" type="application/rss+xml" title="XCamp  &raquo; Kommentar-Feed" href="https://xcamp.co/comments/feed/" />
