<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>2019 XCamp - Barcamp-Plus für digitale Innovation und agile Produktentwicklung</title>
    <base href="{{baseUrl}}">
    {{> head}}
    <link rel="stylesheet" href="website.css">
</head>
<body data-code="{{accessCode}}">
{{> menu}}
{{> logo}}
<div id="main">
    <div class="container no-background">
        <div id="hero">
            <h1>Innovating Agile</h1>

            <p class="title-inner">Am 13. September 2019 treffen auf dem XCamp die Innovationstreiber aus Unternehmen
                und
                Start-ups, Design
                Thinker, Agile und Lean Startup-Experten der Metropolregion Frankfurt Rhein Main zusammen.</p>

            <a id="buy-button" class="button blue with-arrow" target="_self" href="tickets">Jetzt Ticket kaufen</a>
        </div>

        <div id="what-is-it" class="three-boxes">
            <div class="box red">
                <h3><span class="circle">✓</span>Zuhören und praktisch Eintauchen</h3>
                <p>Erlebe Keynotes, hands-on Workshops und Open Space-Sessions zu Agilen Methoden, Lean Startup, Design
                    Thinking, Business Modell Generation und den Erfolgsbedingungen für die Praxis.</p>
            </div>

            <div class="box yellow">
                <h3><span class="circle">✓</span> Inspiration erleben und vernetzen</h3>
                <p>Gewinne durch Erfahrungsaustausch, interaktives Lernen und Workshops neue Einsichten und Motivation.
                    Vernetze Dich mit Gleichgesinnten und Spezialisten, die neue Impulse geben.</p>
            </div>

            <div class="box blue">
                <h3><span class="circle">✓</span>Schwung ins Unternehmen tragen</h3>
                <p>Erfahre selbst, wie Du kreativer wirst und mehr Wirksamkeit in Innovationsprojekten erreichen kannst.
                    Setze anschliessend das Gelernte bei Dir vor Ort erfolgreich in die Praxis.</p>
            </div>
        </div>

        <a id="buy-button" class="button blue only-mobile with-arrow" target="_self" href="tickets">Jetzt Ticket kaufen</a>

        <div id="newest-blog-entries" class="semi-transparent">
            <h2>Letzte <a href="/agile-barcamp-blog/">Blog-News</a> zum XCamp 19</h2>

            <div class="three-boxes">
            </div>
        </div>

        <div id="impressions" class="semi-transparent">
            <h2>Eindrücke vom XCamp</h2>

            <iframe src="https://www.youtube.com/embed/bPJKoiXNvz8?feature=oembed&amp;enablejsapi=1&amp;wmode=opaque"
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" id="player_1"
                    name="fitvid0"></iframe>
        </div>

        <div id="format">
            <h2>Das Format des XCamp</h2>

            <div class="three-boxes">
                <div class="box"><p>Das XCamp wird als Open-Space organisiert. Die Inhalte werden von den Teilnehmern
                    selbst bestimmt.
                    Das Format wird auch (Un-) Konferenz bezeichnet. Es eröffnet den Teilnehmern ein Maximum an
                    Interaktion,
                    zudem ein hohes Maß an Inspiration und Lernfortschritt – insbesondere für Neulinge. Schwerpunkt des
                    XCamps liegt auf den Themenfeldern Agiles Management und Innovation im Unternehmenskontext.</p>
                </div>
                <div class="box"><p>Im Hinblick zu einer traditionellen Konferenz gibt es wenige festgelegte Redner. Als
                    Besucher der
                    Konferenz kannst Du, wie jeder andere Teilnehmer, eine eigene Session halten. In dieser diskutierst
                    Du beispielsweise Deine Erfahrungen zu einem Thema oder erhältst Best-Practice-Hinweise von anderen
                    Teilnehmern.</p>
                </div>
                <div class="box"><p>Die <a href="/2019-xcamp-alle-sessions-im-ueberblick/#agenda">Agenda</a> des XCamps,
                    auch als
                    Line-Up bezeichnet, wird in der Session-Planung zu Beginn bestimmt. Jeder Teilnehmer erhält die
                    Chance, einen Beitrag zu leisten und an anderen interessante Beiträge teilzuhaben.</p>
                </div>
            </div>
        </div>

        <div id="cta" class="semi-transparent">
            <h2>Jetzt teilnehmen!</h2>

            <div class="box">
                <p>
                    Am 13. September 2019 im Skydeck der DB Systel im Silberturm diskutieren Experten im Herzen von
                    Frankfurt über Praxiserfahrungen mit Methoden und Prozessen rund um innovative Service- und
                    Produktentwicklung. Einsteiger erhalten Hands-on-Zugang zu Methoden wie Lean Startup, Scrum, OKR,
                    Agil,
                    Projektmanagement, WOL, Digital Workplace, UI, UX und Design Thinking.
                </p>
                <p>
                    Ähnlich zu den vergangenen LeanCamps und XCamps gibt es viel Inspiration, Vernetzung und neue
                    Schubkraft
                    für eigene Projekte.
                </p>
            </div>
        </div>

        <div id="ticket-types" class="three-boxes bottom-buttons">
            <div class="box red">
                <h3>Selbstzahler-Ticket</h3>

                <p>Mit diesem Ticket holst Du dir als Selbstzahler den Zugang zum Event, Verköstigung und Getränke.
                    Verpass nicht diese einmalige Chance!</p>

                <a class="button white align-bottom" target="_self" href="tickets?type=private">148,75 € - Ticket
                    kaufen</a>
            </div>

            <div class="box blue">
                <h3>Unternehmensticket</h3>

                <p>Mit einem Unternehmensticket erhältst Du als Mitarbeiter eines Unternehmens den vollen Zugang zur
                    Veranstaltung für den gesamten Tag inklusive Verköstigung und Getränke. Kauf auf Rechnung ist hier
                    möglich.</p>

                <a class="button white align-bottom" target="_self" href="tickets?type=corporate">297,50 € - Ticket
                    kaufen</a>
            </div>

            <div class="box yellow">
                <h3>Vergünstigtes Ticket</h3>

                <p>Du studierst, gründest gerade oder bist in einer finanziell engen Phase und interessierst dich für
                    innovate agile? Wir haben eine begrenzte Anzahl an Tickets reserviert. Bewirb dich für den vollen
                    Zugang zur Veranstaltung für den ganzen Tag.
                </p>

                <a class="button white align-bottom" target="_self" href="tickets?type=reduced">35,00 € - Ticket
                    anfragen</a>
            </div>
        </div>

        <div id="register-newsletter">
            <h2>Du kannst dich noch nicht für ein Ticket entscheiden?</h2>

            <div class="box">
                Wir halten dich auf dem Laufenden, wenn du dich in unserem Newsletter einträgst<br/>

                <a id="newsletter-button" class="blue button" target="_self" href="newsletter">
                    → Newsletter abonnieren
                </a>
            </div>
        </div>

        <div id="sponsors" class="grey">
            <h2>Sponsoren</h2>

            <div class="four-boxes">
                {{#sponsors}}
                    <div>
                        <a href="{{{url}}}" target="_blank"><img src="{{img}}"></a>
                    </div>
                {{/sponsors}}
            </div>

            <h2>Netzwerkpartner</h2>

            <div class="four-boxes">
                {{#partners}}
                    <div>
                        <a href="{{{url}}}" target="_blank"><img src="{{img}}"></a>
                    </div>
                {{/partners}}
            </div>
        </div>

        <div id="location" class="three-boxes">
            <div class="map two-cols">
                <iframe style="border: 0;"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4007.840430949455!2d8.665983995064554!3d50.108191103824126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x295910c3a828480!2sDB+Systel+GmbH!5e0!3m2!1sen!2sde!4v1563117709421!5m2!1sen!2sde"
                        width="100%" height="450" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            </div>

            <div class="yellow box">
                <p><b>DB Systel GmbH</b><br/>
                    Skydeck im Silberturm</p>

                <p>Jürgen-Ponto-Platz 1<br/>
                    60329 Frankfurt am Main</p>
            </div>
        </div>
    </div>
</div>
{{> footer}}
<script src="common.js"></script>
<script src="mainpage.js"></script>
</body>
</html>
