<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>XCamp Rechnungen</title>
    <base href="{{baseUrl}}">
    <link rel="stylesheet" href="ticket.css">
</head>
<body>
<table id="invoices-list">
    <tr>
        <th>ReNr / Datum</th>
        <th>Tickets</th>
        <th>Betrag</th>
        <th>Bezahlt</th>
        <th>Name</th>
    </tr>
    {{#invoices}}
    <tr class="{{paid}}" id="{{uid}}">
        <td>
            <a href="accounts/{{customer.access_code}}/invoices/current" target="_blank">{{invoiceNo}} - {{created}}</a>
        </td>
        <td>{{tickets.length}} {{ticketType}}</td>
        <td class="numeric">{{ticketPrice}} €</td>
        <td>{{payment}}<button class="setPayment"><span></span></button></td>
        <td>{{#customer.firm}}{{customer.firm}}<br>{{/customer.firm}}
            <a href="mailto:{{customer.person.email}}">{{customer.person.firstName}} {{customer.person.lastName}}</a>
        </td>
    </tr>
{{/invoices}}
</table>

<p>
    Insgesamt
    {{participantCount}}
    Teilnehmer
</p>
<script src="invoice-list.js"></script>
</body>
</html>
