<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>XCamp 2018 Rechnung</title>
</head>
<body>
    <h1>Zahlungs-Informationen</h1>

    <p>Wir freuen uns, dass Sie am diesjährigen XCamp teilnehmen werden!</p>

    <p>Sie können die Rechnung für das/die gebuchte(n) Ticket(s) <a href="/accounts/{{accessCode}}/invoices/current" target="_blank">
        hier herunter laden.</a>
    </p>

    <p>
        Bitte überweisen Sie den Betrag innerhalb von 10 Tagen auf das Konto Nr. DE68 501 900 00 6100 700 610
        der Justso GmbH, Frankfurt.
    </p>

    <p>Vergessen Sie nicht, sich der XCamp Community anzuschließen!</p>
</body>
</html>
