<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>XCamp Rechnungen</title>
    <base href="{{baseUrl}}">
    <link rel="stylesheet" href="ticket.css">
</head>
<body>
<table id="invoices-list">
    <tr>
        <th>ReNr / Datum</th>
        <th>Tickets</th>
        <th>Betrag</th>
        <th>Bezahlt</th>
        <th>Kunde</th>
        <th>Teilnehmer</th>
        <th></th>
    </tr>
    {{#invoices}}
    <tr class="{{paid}}" id="{{id}}">
        <td>
            <a href="accounts/{{customer.access_code}}/info" target="_blank">{{invoiceNo}} - {{created}}</a>
        </td>
        <td>{{tickets.length}} {{ticketType}}</td>
        <td class="numeric">{{ticketPrice}} €</td>
        <td>{{payment}}<button class="setPayment"></button></td>
        <td>{{#customer.firm}}{{customer.firm}}<br>{{/customer.firm}}
            <a href="mailto:{{customer.person.email}}">{{customer.person.firstName}} {{customer.person.lastName}}</a>
        </td>
        <td>
            {{#participants}}<div class="participant">{{firstName}} {{lastName}}<input type="checkbox" {{checkedIn}} readonly disabled onclick="return false"></div>{{/participants}}
        </td>
        <td>
            {{^invoiceNo}}<button class="delete">Löschen</button>{{/invoiceNo}}
        </td>
    </tr>
    {{/invoices}}
</table>

<p>
    Insgesamt {{stats.participants}} Teilnehmer<br>
    &nbsp;&nbsp;{{stats.tickets.orga}} Orga,<br>
    &nbsp;&nbsp;{{stats.tickets.corporate}} Corporate,<br>
    &nbsp;&nbsp;{{stats.tickets.private}} Individual,<br>
    &nbsp;&nbsp;{{stats.tickets.reduced}} Reduced<br>
    {{stats.totals}} Ticketeinnahmen,<br>
    {{stats.totalsPaid}} davon bereits bezahlt.
</p>
<script src="invoice-list.js"></script>
</body>
</html>
