<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>XCamp Rechnungen</title>
    <base href="{{baseUrl}}">
    <link rel="stylesheet" href="ticket.css">
</head>
<body>
<table>
    <tr>
        <th>ReNr.</th>
        <th>Datum</th>
        <th>Anz.</th>
        <th>Typ</th>
        <th>Betrag</th>
        <th>Zahlart</th>
        <th>Bezahlt</th>
        <th>Firma</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>E-Mail</th>
        <th>Rechnung</th>
    </tr>
    {{#invoices}}
    <tr>
        <td class="numeric">{{invoiceNo}}</td>
        <td>{{created}}</td>
        <td class="numeric">{{tickets.length}}</td>
        <td>{{ticketType}}</td>
        <td class="numeric">{{ticketPrice}} €</td>
        <td>{{payment}}</td>
        <td>{{paid}}</td>
        <td>{{customer.firm}}</td>
        <td>{{customer.person.firstName}}</td>
        <td>{{customer.person.lastName}}</td>
        <td>{{customer.person.email}}</td>
        <td><a href="accounts/{{customer.access_code}}/invoices/current" target="_blank">Rechnung</a></td>
    </tr>
{{/invoices}}
</table>
</body>
</html>
