<div>
    <img src="https://xcamp.co/netvis/xcamp.png" style="float: left; height: 100px; margin-right: 20px;"/>
    <h1>Ticketbestellung XCamp 2018</h1>
</div>

<p>Liebe(r) XCamp Teilnehmer(in)!</p>

<p>Vielen Dank! Die Ticketbestellung für die XCamp 2018 ist bei uns eingeganen.</p>

<p>Die Rechnung und die Tickets <a href="{{{url}}}">finden Sie hier</a>.</p>

<p>
    Bitte auf jeden Fall jeweils im Ticket den Namen und die E-Mail-Adresse des Teilnehmers eintragen. Wir brauchen
    diese Daten, um dem Teilnehmer im Vorfeld weitere Informationen z.B. zur Anreise geben zu können, aber auch, um
    die Namensschilder vorzubereiten und für die Teilnehmerliste. Wir würden den Teilnehmer auch auf künftige XCamps
    hinweisen, er/sie kann dem jedoch jederzeit durch eine formlose Antwort auf unsere Mail widersprechen. In diesem
    Fall entfernen wir sie/ihn selbstversändlich umgehend aus unserem Verteiler.

    Der Teilnehmer kann jederzeit vor dem Event geändert und damit das Ticket übertragen werden. Eine Rückgabe des
    Tickets ist hingegen leider nicht möglich.
</p>

<p>Wir freuen uns auf einen spannenden Tag!</p>

<p>Das XCamp Team</p>

<footer style="border-top: 1px solid #bbb;
               color: #888;
               font-size: 80%;
               padding-top: 1em;
               width: 100%;">
    Justso GmbH, Praunheimer Landstraße 95, 60488 Frankfurt am Main<br/>
    Geschäftsführer: Dr. Christiane Gerigk, Joachim Schirrmacher<br/>
    Registergericht: Amtsgericht Frankfurt am Main, Registernummer: HRB 96356<br/>
    USt.-IdNr. DE288767862 | StNr. 045/236/95300

    <p class="disclaimer">
        Sie erhalten diese E-Mail, weil Sie Tickets für das XCamp 2018 erworben haben. Wir speichern diese Daten, um
        Ihnen die erworbenen Tickets und die dazu gehörige Rechnung zu senden und Ihnen Zugriff auf diese auch zu einem
        späteren Zeitpunkt zu ermöglichen. Wir würden Sie auch über künftig statt findende XCamp Termine auf dem
        Laufenden halten, wenn Sie dem nicht durch formlose Antwort auf eine unserer E-Mails widersprechen. In diesem
        Fall entfernen wir Sie selbstversändlich umgehend aus unserem Verteiler.
    </p>
</footer>
