<div class="main-menu row noprint">
    <div class="alignleft">
        <div class="social-networks-wrapper"><a
                class="social-network-icon icon-twitter"
                href="https://twitter.com/xcamp" target="_blank" rel="noopener noreferrer"
                title="Twitter"></a><a
                class="social-network-icon icon-facebook"
                href="https://www.facebook.com/xcamp.co/" target="_blank" rel="noopener noreferrer"
                title="Facebook"></a>
        </div>
    </div>
    <nav class="secondary-menu alignright" aria-label="Secondary Menu">
        <ul class="menu">
            <li class="menu-item"><a href="/">#XCamp19</a></li>
            <li class="menu-item"><a href="/agile-barcamp-blog/">Blog</a></li>
            <li class="menu-item"><a href="/barcamp-for-agile-management/soical-wall/">Social Wall</a></li>
            <li class="menu-item dropdown-menu">
                <a href="/barcamp-for-agile-management/historie/" aria-haspopup="true">Historie</a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="/xcamp-barcamp-plus-for-agile-management-3/">XCamp 2018</a></li>
                    <li class="menu-item"><a href="/barcamp-for-agile-management/historie/2017-xcamp-wiesbaden/">XCamp 2017</a></li>
                </ul>
            </li>
            <li class="menu-item dropdown-menu">
                <a href="/barcamp-for-agile-management/ueber/" aria-haspopup="true">Über uns</a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="https://digital-wachsen.de/imprint/">Impressum</a></li>
                    <li class="menu-item"><a href="https://digital-wachsen.de/datenschutz/">Datenschutz</a></li>
                </ul>
            </li>
            <li class="menu-item"><a id="login" href="login/undefined/%252f">Login</a></li>
            <li class="menu-item"><a id="logout" href="logout">Logout</a></li>
        </ul>
    </nav>
</div>
