<div class="main-menu row noprint">
    <div class="alignleft">
        <div class="social-networks-wrapper"><a
                class="social-network-icon icon-twitter"
                href="https://twitter.com/xcamp" target="_blank" rel="noopener noreferrer"
                title="Twitter"></a><a
                class="social-network-icon icon-facebook"
                href="https://www.facebook.com/xcamp.co/" target="_blank" rel="noopener noreferrer"
                title="Facebook"></a>
        </div>
    </div>
    <nav class="secondary-menu alignright" aria-label="Secondary Menu">
        <ul class="menu">
            <li class="menu-item"><a href="/">#XCamp18</a></li>
            <li class="menu-item"><a href="/agile-barcamp-blog/">Blog</a></li>
            <li class="menu-item"><a href="/design-thinking-barcamp/soical-wall/">Social Wall</a></li>
            <li class="menu-item dropdown-menu">
                <a href="/design-thinking-barcamp/recaps/" aria-haspopup="true">Historie</a>
                <ul class="sub-menu">
                    <li class="menu-item"><a href="/2017-xcamp-wiesbaden/">XCamp 2017</a></li>
                </ul>
            </li>
            <li class="menu-item dropdown-menu">
                <a href="/ueber/" aria-haspopup="true">Über uns</a>
                <ul class="sub-menu">
                    <li class="menu-item"><a
                            href="/design-thinking-barcamp/team/impressum-und-datenschutz/">Impressum</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
