<h1>E-Mail versendet</h1>

<p>Wir haben dir eine E-Mail gesendet, mit der du ein neues Passwort setzen kannst.</p>
<p>Schau' bitte in dein E-Mail-Programm und dort ggf. auch in den Junk-E-Mail-Ordner, und klicke in der E-Mail
    den darin enthaltenen Link.
</p>

<a href="/">Zurück zur XCamp-Website</a>
