<div>
    <img src="{{baseUrl}}xcamp-large.png" style="float: left; height: 100px; margin-right: 20px;"/>
    <h1>Passwort für die XCamp 2018 Teilnehmer-Website</h1>
</div>

<p>Hallo!</p>

<p>Du hast auf {{baseUrl}} angegeben, dass du dein Passwort vergessen hast.</p>

<p>Um sich ohne Passwort einzuloggen, bitte hier klicken:</p>
{{link}}

<p>Du kannst dann dein Passwort neu setzen.</p>

<p>
    Wenn du diese E-Mail nicht angefordert hast, kannst du diese Nachricht einfach ignorieren. Dein bisheriges Passwort
    ist weiterhin gültig und ist der Person, die diese Nachricht ausgelöst hat, nicht verraten worden. Trotzdem ist es
    dann ratsam, das Passwort ggf. neu zu setzen.
</p>

<p>
    Viele Grüße<br>
    Das XCamp Orga-Team
</p>
