<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>XCamp - Alle Sessions im Überblick</title>
    <base href="{{baseUrl}}">
    <link rel="stylesheet" href="session-list.css">
</head>
<body>
{{> menu}}
{{> logo}}
<div id="main">
    <div class="container no-background">
        <h1>Sessions auf dem {{eventName}}</h1>

        <a class="button yellow with-arrow" target="_self" href="tickets">
            Jetzt Ticket kaufen
        </a>

        <div class="tiles">
            {{#sessions}}
                <div class="tile">
                    <h2>{{person.name}}</h2>
                    <div class="image-container">
                        <img src="{{{image}}}">
                        <div class="frame"></div>
                    </div>
                    <a href="{{{url}}}" target="_blank" rel="nofollow" class="url">{{urlTitle}}</a>
                    <p>{{talk}}</p>
                </div>
            {{/sessions}}
        </div>
    </div>
</div>
{{> footer}}

<script src="common.js"></script>
<script>
    setMenuState()
</script>
</body>
</html>
