<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>XCamp - Session-liste</title>
    <base href="{{baseUrl}}">
    <link rel="stylesheet" href="talk-list.css">
</head>
<body>
{{> menu}}
{{> logo}}
<div id="main">
    <div class="container">
        <h1>Sessions auf dem {{eventName}}</h1>

        <div class="tiles">
            {{#talks}}
                <div class="tile">
                    <h2>{{person.name}}</h2>
                    <div class="image-container">
                        <img src="{{{image}}}">
                        <div class="frame"></div>
                    </div>
                    <p>{{talk}}</p>
                </div>
            {{/talks}}
        </div>
    </div>
</div>
{{> footer}}

<script src="common.js"></script>
</body>
</html>
