<canvas class="ticketNo" id="{{access_code}}"></canvas>
<img class="logo"
     src="xcamp.png">
<h2>XCamp Ticket</h2>
<p class="location">25.08.2018 9:00 im Skydeck der DB Systel, Jürgen-Ponto-Platz 1, Frankfurt</p>
