<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>XCamp 2018 Tickets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/ticket.css">
</head>
<body>
<div class="container">
    <div class="ticket">
        {{> ticketHeader}}
        {{> ticketData}}
    </div>
</div>


<script src="/qrcode/qrcode.min.js"></script>
<script>
    [].forEach.call(document.getElementsByClassName('ticketNo'), function (el) {
        QRCode.toCanvas(el, location.origin + '/ticket/' + el.id)
    })
    window.print()
    window.onafterprint = function () {
      window.close()
    }
</script>
</body>
</html>
